body,
input,
select,
textarea,
button {
    font-family: WorkSans, '나눔바른고딕', 'NanumBarunGothic', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif
}

.theme_spacemono {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        font-family: SpaceMono;
    }
}

.blind,
caption span,
legend {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    text-indent: -9999px;
}

.skip {
    height: 0
}

.skip a {
    display: block;
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 25px;
    text-align: center
}

.skip a:focus,
#skip a:active {
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    background: #000;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none
}

/* <!-- [D] Typography --> */
.heading {
    &_one {
        @include custom-font(67px, 600, 74px);
    }

    &_two {
        @include custom-font(51px, 600, 56px);
    }

    &_three {
        @include custom-font(38px, 600, 46px);
    }

    &_four {
        @include custom-font(28px, 600, 39px);
    }

    &_five {
        @include custom-font(22px, 600, 31px);
    }

}

.body {
    &_caption {
        @include custom-font(12px, 400, 13px);
    }

    &_base {
        @include custom-font(16px, 400, 22px);
    }

    &_text {
        @include custom-font(22px, 400, 35px);
    }
}

/* <!--// [D] Typography --> */

/* <!-- [D] Button --> */
button i {
    margin-right: 12px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $border_radius_sm;
    @include custom-font(16px, 600, 22px);
    color: var(--white);
    box-sizing: border-box;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    user-select: none;

    &.is_disabled {
        opacity: 50%;
        pointer-events: none;
    }

    &_p30 {
        padding: 0 30px;

    }

    &_p50 {
        padding: 0 50px;

    }

    &_sm {
        height: $height_btn_sm;
    }

    &_md {
        height: $height_btn_md;
    }

    &_lg {
        height: $height_btn_lg;
    }

    // &_46px {
    //     height: $height_btn_sm;
    // }

    &_w100 {
        width: $width_100;
    }

    /* <!-- [D] White --> */
    &_white {
        background-color: var(--white);
        color: var(--bg_gray_1);
    }

    /* <!--// [D] White --> */

    /* <!-- [D] Violet --> */
    &_violet {
        background-color: var(--bg_btn_violet);
    }

    /* <!--// [D] Violet --> */

    /* <!-- [D] Transparent --> */
    &_transparent {
        background-color: transparent;
        border: 2px solid var(--bg_btn_violet);
    }

    /* <!--// [D] Transparent --> */

    /* <!-- [D] Gray --> */
    &_gray {
        background-color: var(--bg_gray_2);
    }

    /* <!--// [D] Gray --> */
}

/* <!--// [D] Button--> */

// <!-- [D] Thumbnail -->
.thumb {
    position: relative;
    overflow: hidden;
    padding-top: 100%;

    .img {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        @include custom-dimensions(100%, 100%);
        object-fit: cover;
    }

    &_card {
        padding-top: 89.39%;

        &_mo {
            padding-top: 75.56%;
        }
    }

    &_16x7 {
        padding-top: 43.75%;
    }


}

//   <!--// [D] Thumbnail -->


// <!-- [D] Avatar -->
.avatar {
    display: inline-block;

    .thumb {
        border-radius: $border_radius_lg;
    }

    &_small {
        width: 24px;
        height: 24px;
    }

    &_medium {
        width: 60px;
        height: 60px;
    }

    &_large,
    &_extra_large {
        width: 120px;
        height: 120px;
    }

    &_extra_large {
        .thumb {
            border-radius: $border_radius_sm;
        }
    }
}

// <!--// [D] Avatar -->

// <!-- [D] Input -->
::placeholder {
    @include custom-font(16px, 400, 22px);
    color: var(--bg_gray_1);
}

.form {
    display: flex;
    overflow: hidden;
    border-radius: $border_radius_sm;
    background-color: var(--white);



    &_mo {
        display: block;
        background-color: transparent;

        input {
            border-radius: $border_radius_sm;
        }
    }

    button {
        width: 100%;
    }

    .input {
        &_text {
            padding: 19px 20px;
        }

        &_mo {
            padding: 11px 20px;
            border: 1px solid var(--bg_gray_3);

        }

        &_mo+button {
            margin-top: 16px;

        }
    }
}

.input {
    &_text {
        width: 100%;
        @include custom-font(16px, 400, 22px);
        color: var(--bg_gray_1);
        box-sizing: border-box;
    }

    &_group {
        @include flex-item(flex, space-between, center);
        padding: 8px 20px;
        border-radius: $border_radius_sm;
        border: 1px solid var(--bg_gray_3);
        background-color: var(--white);

        &_item {
            padding: 4px;
        }

        & .input_text~span {
            margin-left: 12px;
            cursor: pointer;
        }

        & span~.input_text {
            padding-left: 12px;
        }

        &+.input_group {
            margin-top: 15px;
        }

        &:nth-last-of-type(1)+button {
            margin-top: 30px;
        }
    }

    &_group &_text {
        padding: 0;
    }

    &_search {
        padding: 14px 20px;
        background-color: transparent;

        ::placeholder,
        input {
            color: var(--bg_gray_3);
            background-color: transparent;

        }

    }
}

// <!--// [D] Text input -->

// <!-- [D] Table -->
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;

    thead {
        tr {
            th {
                padding: 12px 20px;
                border-top: 1px solid var(--bg_gray_2);
                border-bottom: 1px solid var(--bg_gray_2);
                font-family: SpaceMono;
                @include custom-font(16px, 400, 22px);
                color: var(--bg_gray_3);
                text-align: left;
                box-sizing: border-box;

                &:first-child {
                    border-left: 1px solid var(--bg_gray_2);
                    border-radius: $border_radius_sm 0 0 $border_radius_sm ;
                    text-align: center;
                }

                &:nth-child(2) {
                    padding: 12px 20px 12px 0;
                }


                &:last-child {
                    border-right: 1px solid var(--bg_gray_2);
                    border-radius: 0 $border_radius_sm $border_radius_sm 0;
                }

                @include tablet {
                    &:nth-last-child(2) {
                        display: none;
                    }
                }

                @include mobile {
                    &:nth-last-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            background-color: var(--bg_gray_2);

            td {
                padding: 12px 20px;
                font-family: SpaceMono;
                @include custom-font(16px, 400, 22px);
                color: var(--white);
                text-align: left;
                box-sizing: border-box;

                &:first-child {
                    position: relative;
                    z-index: 1;
                    border-radius: $border_radius_sm 0 0 $border_radius_sm;
                    color: var(--bg_gray_3);
                    text-align: center;

                    &::after {
                        @include absolute-align(50%, 50%, null, null);
                        z-index: -1;
                        @include custom-dimensions(30px, 30px);
                        border-radius: $border_radius_lg;
                        background-color: var(--bg_gray_1);
                        transform: translate(-50%, -50%);
                        content: '';
                    }

                }

                &:last-child {
                    border-radius: 0 $border_radius_sm $border_radius_sm 0;
                }

                &:nth-child(2) {
                    @include flex-item(flex, normal, center);
                    padding: 12px 20px 12px 0;
                }

                &:nth-child(3) {
                    color: var(--green);
                }

                & .avatar+span {
                    margin-left: 20px;
                    font-family: WorkSans;
                    @include custom-font(22px, 600, 31px);
                }

                & .avatar {
                    flex: 0 0 auto;
                }

                @include tablet {
                    &:nth-last-child(2) {
                        display: none;
                    }

                    & .avatar+span {
                        @include custom-font(16px, 600, 22px);
                    }
                }

                @include mobile {
                    & {
                        @include custom-font(12px, 400, 13px);
                    }

                    &:nth-last-child(3) {
                        display: none;
                    }

                    & .avatar+span {
                        @include custom-font(16px, 400, 22px);
                    }
                }
            }
        }
    }
}

// <!--// [D] Table -->

// <!-- [D] Tab Bar -->
.tabs {
    display: flex;
    background-color: var(--bg_gray_1);
    text-align: center;

    .active {
        color: var(--white);
        border-bottom: 2px solid var(--bg_gray_3);

        span::after {
            background-color: var(--bg_gray_3);
        }
    }

    &_item {
        flex: 1;
    }

    &_link {
        display: block;
        @include custom-dimensions(100%, 60px);
        padding: 14.5px 30px;
        @include custom-font(22px, 600, 31px);
        color: var(--bg_gray_3);
        box-sizing: border-box;
        transition: color 0.4s ease;

        &:hover {
            color: var(--white);
            border-bottom: 2px solid var(--bg_gray_3);

            span::after {
                background-color: var(--bg_gray_3);
            }
        }

        & > span {
            display: inline-block;
            position: relative;
            z-index: 1;
            margin-left: 16px;
            padding: 5px 10px;
            font-family: SpaceMono;
            @include custom-font(16px, 400, 22px);
            color: var(--white);
            vertical-align: top;

            &::after {
                @include absolute-align(50%, 50%, null, null);
                z-index: -1;
                @include custom-dimensions(100%, 100%);
                border-radius: $border_radius_sm;
                background-color: var(--bg_gray_2);
                transform: translate(-50%, -50%);
                transition: all 0.4s ease;
                content: '';

                .active {
                    background-color: var(--bg_gray_3);
                }
            }
        }
    }

}

// <!--// [D] Tab Bar -->