:root {
  --white: #fff;
  --green: #00AC4F;
  --bg_btn_violet: #a259ff;
  --blue_accent: #377df7;
  --red_accent: #ff7262;
  --gradient_white_violet: linear-gradient(180deg,
      rgba(162, 89, 255, 0) 0%,
      #a259ff 100%);

  --gradient_violet_red: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
  ;
}

$gray: (
  1: #2b2b2b,
  2: #3b3b3b,
  3: #858584,
  4: #ccc,
  5: rgba(59, 59, 59, 0.5),
);

$black: #000;
$screen-xsm: 320px;
$screen-sm: 769px;
$screen-md: 1280px;
$screen-lg: 1366px;
$screen-xlg: 1920px;


$height_btn_sm: 46px;
$height_btn_md: 60px;
$height_btn_lg: 72px;
$width_100: 100%;

$border_radius_sm: 20px;
$border_radius_lg: 50%;


@mixin custom-font($fontsize, $fontweight, $lineheight) {
  font-size: $fontsize;
  font-weight: $fontweight;
  line-height: $lineheight;
}

@mixin custom-dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin absolute-align($top, $left, $bottom, $right) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin flex-item($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border_sm {
  overflow: hidden;
  border-radius: $border_radius_sm;
}

@mixin card_one_item {
  display: block;
  @include border_sm;
  width: 100%;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

@mixin card_two_item {
  display: inline-block;
  @include border_sm;
  width: calc((100% / 2) - 15px);

  &:not(:nth-child(2n+1)) {
    margin-left: 30px;
  }

  &:not(:nth-child(-n + 2)) {
    margin-top: 30px;
  }

}

@mixin card_three_item {
  display: inline-block;
  @include border_sm;
  width: calc((100% / 3) - 20px);

  &:not(:nth-child(3n+1)) {
    margin-left: 30px;
  }

  &:not(:nth-child(-n + 3)) {
    margin-top: 30px;
  }

}

@mixin card_four_item {
  display: inline-block;
  @include border_sm;
  width: calc((100% / 4) - 23px);

  &:not(:nth-child(4n+1)) {
    margin-left: 30px;
  }

  &:not(:nth-child(-n + 4)) {
    margin-top: 30px;
  }
}

@mixin mobile {
  @media (max-width: #{$screen-sm - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-sm}) and (max-width: #{$screen-md - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin on_pc {
  .only_pc {
    display: inline-block;
  }

  .only_tb {
    display: none;
  }

  .only_mo {
    display: none;
  }
}

@mixin on_tb {
  .only_pc {
    display: none;
  }

  .only_mo {
    display: none;
  }

  .only_tb {
    display: inline-block;
  }

}

@mixin on_mo {
  .only_pc {
    display: none;
  }

  .only_tb {
    display: none;
  }

  .only_mo {
    display: inline-block;
  }
}