@@include('./include/head.html',{"title": "Common NFT", "list_title": "List Title - Layout : Common"})

<body>
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			<div class="wrap">
				<h1 class="ui_heading">Common NFT</h1>
				<!-- [D] Colors -->
				<section class="ui_section">
					<h2 class="ui_title">Colors</h2>
					<div class="ui_content ui_color">
						<ul class="ui_color_list">
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--bg_gray_1);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Background
									</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#2b2b2b</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--bg_gray_2);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Background Secondary
									</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#3b3b3b</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--bg_gray_3);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Caption & Label Text
									</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#858584</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--gray);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Gray
									</span>
									<span style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#ccc</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--white);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--bg_gray_1);">
										White
									</span>
									<span style="display: inline-block;font-size: 18px;color:#000;text-align: right">#fff</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--bg_btn_violet);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Background Button
									</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#ebe8f4</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--blue_accent);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Blue Accent
									</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#377df7</span>
								</span>
							</li>
							<li class="ui_color_item">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background-color: var(--red_accent);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Red Accent
									</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#ff7262</span>
								</span>
							</li>
							<li class="ui_color_item" style="width: 100%;">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background: var(--gradient_white_violet);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Gradient White Violet
									</span>
									<span style="display: inline-block;font-size: 18px;color:var(--white)">rgba(162, 89, 255, 0)</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#a259ff</span>
								</span>
							</li>
							<li class="ui_color_item" style="width: 100%;">
								<span
									style="display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 14px 18px;background: var(--gradient_violet_red);box-sizing: border-box;">
									<span
										style="display: inline-block;font-size: 16px;font-weight: 400;line-height: 22px;color: var(--white);">
										Gradient Violet Red
									</span>
									<span style="display: inline-block;font-size: 18px;color:var(--white)">rgba(162, 89, 255, 0)</span>
									<span
										style="display: inline-block;font-size: 18px;color:var(--white);text-align: right">#ff7262</span>
								</span>
							</li>
						</ul>
					</div>
				</section>
				<!--// [D] Colors -->

				<!-- [D] Typography -->
				<section class="ui_section">
					<h2 class="ui_title">Typography</h2>
					<div class="ui_content ui_typography">
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; WorkSans Font</h3>
							<table class="ui_table">
								<colgroup>
									<col style="width: 25%">
									<col style="width: 25%">
									<col style="width: 12.5%">
									<col style="width: 12.5%">
									<col style="width: 12.5%">
									<col style="width: 12.5%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Role</th>
										<th scope="col">Size</th>
										<th scope="col">Weight</th>
										<th scope="col">Line height</th>
										<th scope="col">Spacing</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h1 class="heading_one">Headline</h1>
										</td>
										<td>heading_one</td>
										<td>67</td>
										<td>bold</td>
										<td>74</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<h2 class="heading_two">Headline</h2>
										</td>
										<td>heading_two</td>
										<td>51</td>
										<td>bold</td>
										<td>56</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<h3 class="heading_three">Headline</h3>
										</td>
										<td>heading_three</td>
										<td>38</td>
										<td>bold</td>
										<td>46</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<h4 class="heading_four">Headline</h4>
										</td>
										<td>heading_four</td>
										<td>28</td>
										<td>bold</td>
										<td>39</td>
										<td>0</td>
									</tr>
									<tr class="table__line">
										<td>
											<h5 class="heading_five">Headline</h5>
										</td>
										<td>Headline five</td>
										<td>22</td>
										<td>bold</td>
										<td>31</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<p class="body_caption">Body</p>
										</td>
										<td>body_caption</td>
										<td>12</td>
										<td>regular</td>
										<td>13</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<p class="body_base">Body</p>
										</td>
										<td>body_base</td>
										<td>16</td>
										<td>regular</td>
										<td>22</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<p class="body_text">Body</p>
										</td>
										<td>body_text</td>
										<td>22</td>
										<td>regular</td>
										<td>35</td>
										<td>0</td>
									</tr>

								</tbody>
							</table>
						</div>
						<div class="ui_item theme_spacemono">
							<h3 class="ui_item_title">&#35; SpaceMono Font</h3>
							<table class="ui_table">
								<colgroup>
									<col style="width: 25%">
									<col style="width: 25%">
									<col style="width: 12.5%">
									<col style="width: 12.5%">
									<col style="width: 12.5%">
									<col style="width: 12.5%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Role</th>
										<th scope="col">Size</th>
										<th scope="col">Weight</th>
										<th scope="col">Line height</th>
										<th scope="col">Spacing</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h1 class="heading_one">Headline</h1>
										</td>
										<td>heading_one</td>
										<td>67</td>
										<td>bold</td>
										<td>74</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<h2 class="heading_two">Headline</h2>
										</td>
										<td>heading_two</td>
										<td>51</td>
										<td>bold</td>
										<td>56</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<h3 class="heading_three">Headline</h3>
										</td>
										<td>heading_three</td>
										<td>38</td>
										<td>bold</td>
										<td>46</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<h4 class="heading_four">Headline</h4>
										</td>
										<td>heading_four</td>
										<td>28</td>
										<td>bold</td>
										<td>39</td>
										<td>0</td>
									</tr>
									<tr class="table__line">
										<td>
											<h5 class="heading_five">Headline</h5>
										</td>
										<td>heading_five</td>
										<td>22</td>
										<td>bold</td>
										<td>31</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<p class="body_base">Body</p>
										</td>
										<td>body_base</td>
										<td>16</td>
										<td>regular</td>
										<td>22</td>
										<td>0</td>
									</tr>
									<tr>
										<td>
											<p class="body_text">Body</p>
										</td>
										<td>body_text</td>
										<td>22</td>
										<td>regular</td>
										<td>35</td>
										<td>0</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!--// [D] Typography -->

				<!-- [D] Button P50 -->
				<section class="ui_section">
					<h2 class="ui_title">Button P50</h2>
					<div class="ui_content ui_buttonmd">
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Default</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Transparent</th>
										<th scope="col">White</th>
										<th scope="col">Gray</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Primary</td>
										<td><button class="btn btn_sm btn_p50 btn_violet">Button</button></td>
										<td><button class="btn btn_sm btn_p50 btn_transparent">Button</button></td>
										<td><button class="btn btn_sm btn_p50 btn_white">Button</button></td>
										<td><button class="btn btn_sm btn_p50 btn_gray">Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_md btn_p50 btn_violet">Button</button></td>
										<td><button class="btn btn_md btn_p50 btn_transparent">Button</button></td>
										<td><button class="btn btn_md btn_p50 btn_white">Button</button></td>
										<td><button class="btn btn_md btn_p50 btn_gray">Button</button></td>
									</tr>
									<tr>
										<td>Tertiary</td>
										<td><button class="btn btn_lg btn_p50 btn_violet">Button</button></td>
										<td><button class="btn btn_lg btn_p50 btn_transparent">Button</button></td>
										<td><button class="btn btn_lg btn_p50 btn_white">Button</button></td>
										<td><button class="btn btn_lg btn_p50 btn_gray">Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Button Icon</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Transparent</th>
										<th scope="col">White</th>
										<th scope="col">Gray</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Primary</td>
										<td><button class="btn btn_sm btn_p50 btn_violet"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_sm btn_p50 btn_transparent"><i class="ico_rocket"></i>Button</button>
										</td>
										<td><button class="btn btn_sm btn_p50 btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_sm btn_p50 btn_gray"><i class="ico_rocket"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_md btn_p50 btn_violet"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_md btn_p50 btn_transparent"><i class="ico_rocket"></i>Button</button>
										</td>
										<td><button class="btn btn_md btn_p50 btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_md btn_p50 btn_gray"><i class="ico_rocket"></i>Button</button></td>
									</tr>
									<tr>
										<td>Tertiary</td>
										<td><button class="btn btn_lg btn_p50 btn_violet"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_lg btn_p50 btn_transparent"><i class="ico_rocket"></i>Button</button>
										</td>
										<td><button class="btn btn_lg btn_p50 btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_lg btn_p50 btn_gray"><i class="ico_rocket"></i>Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!--// [D] Button P50 -->

				<!-- [D] Button P30 -->
				<section class="ui_section">
					<h2 class="ui_title">Button P30</h2>
					<div class="ui_content ui_buttonmd">
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Default</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Transparent</th>
										<th scope="col">White</th>
										<th scope="col">Gray</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Primary</td>
										<td><button class="btn btn_sm btn_p30 btn_violet">Button</button></td>
										<td><button class="btn btn_sm btn_p30 btn_transparent">Button</button></td>
										<td><button class="btn btn_sm btn_p30 btn_white">Button</button></td>
										<td><button class="btn btn_sm btn_p30 btn_gray">Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_md btn_p30 btn_violet">Button</button></td>
										<td><button class="btn btn_md btn_p30 btn_transparent">Button</button></td>
										<td><button class="btn btn_md btn_p30 btn_white">Button</button></td>
										<td><button class="btn btn_md btn_p30 btn_gray">Button</button></td>
									</tr>
									<tr>
										<td>Tertiary</td>
										<td><button class="btn btn_lg btn_p30 btn_violet">Button</button></td>
										<td><button class="btn btn_lg btn_p30 btn_transparent">Button</button></td>
										<td><button class="btn btn_lg btn_p30 btn_white">Button</button></td>
										<td><button class="btn btn_lg btn_p30 btn_gray">Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Button Icon</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
									<col style="width: 20%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Transparent</th>
										<th scope="col">White</th>
										<th scope="col">Gray</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Primary</td>
										<td><button class="btn btn_sm btn_p30 btn_violet"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_sm btn_p30 btn_transparent"><i class="ico_rocket"></i>Button</button>
										</td>
										<td><button class="btn btn_sm btn_p30 btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_sm btn_p30 btn_gray"><i class="ico_rocket"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_md btn_p30 btn_violet"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_md btn_p30 btn_transparent"><i class="ico_rocket"></i>Button</button>
										</td>
										<td><button class="btn btn_md btn_p30 btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_md btn_p30 btn_gray"><i class="ico_rocket"></i>Button</button></td>
									</tr>
									<tr>
										<td>Tertiary</td>
										<td><button class="btn btn_lg btn_p30 btn_violet"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_lg btn_p30 btn_transparent"><i class="ico_rocket"></i>Button</button>
										</td>
										<td><button class="btn btn_lg btn_p30 btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_lg btn_p30 btn_gray"><i class="ico_rocket"></i>Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!--// [D] Button P30 -->

				<!-- [D] Icons -->
				<section class="ui_section">
					<h2 class="ui_title">Icons</h2>
					<div class="ui_content ui_buttonsm">
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Icons</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 25%">
									<col style="width: 25%">
									<col style="width: 25%">
									<col style="width: 25%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">20px</th>
										<th scope="col">32px</th>
										<th scope="col">Color</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>arrowleft</td>
										<td></td>
										<td><i class="ico_arrowleft_32px"></i></td>
										<td></td>
									</tr>
									<tr>
										<td>arrowright</td>
										<td></td>
										<td><i class="ico_arrowright_32px"></i></td>
										<td></td>
									</tr>
									<tr>
										<td>Transparent</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Button height 46</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Disabled</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>White</td>
										<td><button class="btn btn_sm btn_46px btn_white">Button</button></td>
										<td><button class="btn btn_sm btn_46px btn_white is_disabled" disabled>Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_sm btn_46px btn_secondary">Button</button></td>
										<td><button class="btn btn_sm btn_46px btn_secondary is_disabled" disabled>Button</button></td>
									</tr>
									<tr>
										<td>Gray</td>
										<td><button class="btn btn_sm btn_46px btn_gray">Button</button></td>
										<td><button class="btn btn_sm btn_46px btn_gray is_disabled" disabled>Button</button></td>
									</tr>
									<tr>
										<td>Transparent</td>
										<td><button class="btn btn_sm btn_46px btn_transparent">Button</button></td>
										<td><button class="btn btn_sm btn_46px btn_transparent is_disabled" disabled>Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Button Colors</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">White</th>
										<th scope="col"></th>
										<th scope="col">Transparent</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Primary</td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_white">Button</button></td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_white is_disabled" disabled>Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_secondary">Button</button></td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_secondary is_disabled" disabled>Button</button>
										</td>
									</tr>
									<tr>
										<td>Tertiary</td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_gray">Button</button></td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_gray is_disabled" disabled>Button</button></td>
									</tr>
									<tr>
										<td>Transparent</td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_transparent">Button</button></td>
										<td><button class="btn btn_md btn_46px btn_w100 btn_transparent is_disabled"
												disabled>Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Button Icon</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Disabled</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>White</td>
										<td><button class="btn btn_md btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_md btn_white is_disabled" disabled>
												<i class="ico_eye"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_md btn_secondary"><i class="ico_user"></i>Button</button></td>
										<td><button class="btn btn_md btn_secondary is_disabled" disabled>
												<i class="ico_user"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary 2</td>
										<td><button class="btn btn_md btn_secondary"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_md btn_secondary is_disabled" disabled>
												<i class="ico_rocket"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary 3</td>
										<td><button class="btn btn_md btn_secondary"><i class="ico_email"></i>Button</button></td>
										<td><button class="btn btn_md btn_secondary is_disabled" disabled>
												<i class="ico_email"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary 4</td>
										<td><button class="btn btn_md btn_secondary"><i class="ico_copy"></i>Button</button></td>
										<td><button class="btn btn_md btn_secondary is_disabled" disabled>
												<i class="ico_copy"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent</td>
										<td><button class="btn btn_md btn_transparent"><i class="ico_rocket_violet"></i>Button</button></td>
										<td><button class="btn btn_md btn_transparent is_disabled" disabled>
												<i class="ico_rocket_violet"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent 2</td>
										<td><button class="btn btn_md btn_transparent"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_md btn_transparent is_disabled" disabled>
												<i class="ico_eye"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent 3</td>
										<td><button class="btn btn_md btn_transparent"><i class="ico_more"></i>Button</button></td>
										<td><button class="btn btn_md btn_transparent is_disabled" disabled>
												<i class="ico_more"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent 4</td>
										<td><button class="btn btn_md btn_transparent"><i class="ico_arrowright"></i>Button</button></td>
										<td><button class="btn btn_md btn_transparent is_disabled" disabled>
												<i class="ico_arrowright"></i>Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Button Icon</h3>
							<table class="ui_table ui_table_btn">
								<colgroup>
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
									<col style="width: 33.3333333%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Default</th>
										<th scope="col">Disabled</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>White</td>
										<td><button class="btn btn_sm btn_white"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_sm btn_white is_disabled" disabled>
												<i class="ico_eye"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary</td>
										<td><button class="btn btn_sm btn_secondary"><i class="ico_user"></i>Button</button></td>
										<td><button class="btn btn_sm btn_secondary is_disabled" disabled>
												<i class="ico_user"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary 2</td>
										<td><button class="btn btn_sm btn_secondary"><i class="ico_rocket"></i>Button</button></td>
										<td><button class="btn btn_sm btn_secondary is_disabled" disabled>
												<i class="ico_rocket"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary 3</td>
										<td><button class="btn btn_sm btn_secondary"><i class="ico_email"></i>Button</button></td>
										<td><button class="btn btn_md btn_secondary is_disabled" disabled>
												<i class="ico_email"></i>Button</button></td>
									</tr>
									<tr>
										<td>Secondary 4</td>
										<td><button class="btn btn_sm btn_secondary"><i class="ico_copy"></i>Button</button></td>
										<td><button class="btn btn_sm btn_secondary is_disabled" disabled>
												<i class="ico_copy"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent</td>
										<td><button class="btn btn_sm btn_transparent"><i class="ico_rocket_violet"></i>Button</button></td>
										<td><button class="btn btn_sm btn_transparent is_disabled" disabled>
												<i class="ico_rocket_violet"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent 2</td>
										<td><button class="btn btn_sm btn_transparent"><i class="ico_eye"></i>Button</button></td>
										<td><button class="btn btn_sm btn_transparent is_disabled" disabled>
												<i class="ico_eye"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent 3</td>
										<td><button class="btn btn_sm btn_transparent"><i class="ico_more"></i>Button</button></td>
										<td><button class="btn btn_sm btn_transparent is_disabled" disabled>
												<i class="ico_more"></i>Button</button></td>
									</tr>
									<tr>
										<td>Transparent 4</td>
										<td><button class="btn btn_sm btn_transparent"><i class="ico_arrowright"></i>Button</button></td>
										<td><button class="btn btn_sm btn_transparent is_disabled" disabled>
												<i class="ico_arrowright"></i>Button</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!--// [D] Button Small -->

				<!-- [D] Thumbnail -->
				<section class="ui_section">
					<h2 class="ui_title">Thumbnail</h2>
					<div class="ui_content ui_thumb">
						<ul class="ui_thumb_list">
							<li class="ui_thumb_item">
								<h3 class="ui_item_title">&#35; 1:1 (Image)</h3>
								<div class="thumb thumb_img">
									<img src="../img/trending/img_trending1.png" alt="" class="img">
								</div>
							</li>
						</ul>
					</div>
				</section>
				<!--// [D] Thumbnail -->

				<!-- [D] Avatar -->
				<section class="ui_section">
					<h2 class="ui_title">Avatar</h2>
					<div class="ui_content ui_thumb">
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Common</h3>
							<table class="ui_table ui_table_btn ui_table_avatar">
								<colgroup>
									<col style="width: 25%">
									<col style="width: 25%">
									<col style="width: 25%">
									<col style="width: 25%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">S</th>
										<th scope="col">M</th>
										<th scope="col">L</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Avatar</td>
										<td>
											<div class="avatar avatar_small">
												<div class="thumb">
													<img src="../img/trending/img_trending1.png" alt="" class="img">
												</div>
											</div>
										</td>
										<td>
											<div class="avatar avatar_medium">
												<div class="thumb">
													<img src="../img/trending/img_trending1.png" alt="" class="img">
												</div>
											</div>
										</td>
										<td>
											<div class="avatar avatar_large">
												<div class="thumb">
													<img src="../img/trending/img_trending1.png" alt="" class="img">
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!--// [D] Avatar -->

				<!-- [D] Other -->
				<section class="ui_section">
					<h2 class="ui_title">Other</h2>
					<div class="ui_content ui_other">
						<!-- [D] Text input -->
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Text input</h3>
							<ul class="ui_other_input">
								<li class="ui_other_item">
									<form action="#" class="form">
										<input type="email" id="email" name="email" placeholder="your@email.com" class="input input_white">
										<input type="submit" value="Sign up" class="submit submit_dark">
									</form>
								</li>
								<li class="ui_other_item">
									<form action="#" class="form">
										<input type="email" id="email2" name="email" placeholder="your@email.com"
											class="input input_transparent">
										<input type="submit" value="Sign up" class="submit submit_white">
									</form>
								</li>
							</ul>
						</div>
						<!--// [D] Text input -->

						<!-- [D] Stepper -->
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Stepper</h3>
							<ul class="ui_other_stepper">
								<li class="ui_other_item">
									<div class="steps steps_white">
										<span class="down">&#45;</span>
										<input type="text" value="1">
										<span class="up">&#43;</span>
									</div>
								</li>
								<li class="ui_other_item">
									<div class="steps steps_gray">
										<span class="down">&#45;</span>
										<input type="text" value="1">
										<span class="up">&#43;</span>
									</div>
								</li>
							</ul>
						</div>
						<!--// [D] Stepper -->

						<!-- [D] Checkbox -->
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Checkbox</h3>
							<ul class="ui_other_stepper">
								<li class="ui_other_item">
									<div class="checkbox">
										<input type="checkbox" id="vehicle1" name="vehicle1" value="Furniture" class="checkbox_input">
										<label for="vehicle1">Furniture</label>
									</div>
								</li>
								<li class="ui_other_item">
									<div class="checkbox">
										<input type="checkbox" id="vehicle2" name="vehicle2" value="Homeware" checked="checked"
											class="checkbox_input">
										<label for="vehicle2">Homeware</label>
									</div>
								</li>
							</ul>
						</div>
						<!--// [D] Checkbox -->

						<!-- [D] Feature Card -->
						<div class="ui_item">
							<h3 class="ui_item_title">&#35; Feature Card</h3>
							<div class="feature">
								<span class="ico_car"></span>
								<span class="feature_title">Next day as standard</span>
								<p class="feature_disc">Order before 3pm and get your order the next day as standard</p>
							</div>
						</div>
						<!--// [D] Feature Card -->
					</div>
				</section>
				<!--// [D] Other -->

			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

	@@include('./include/script.html')
</body>

</html>