@@include('./include/head.html',{"title": "NFT Market", "list_title": "List Title - Main_01 : Main"})

<body data-pagestatus="new : 2019.10.10">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<!-- Section Hero -->
			<section class="section">
				<div class="section_hero">
					<div class="hero_content">
						<h2 class="hero_title">Discover <br>digital art & <br>Collect NFTs</h2>
						<p class="hero_desc">NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more
							than 20k NFT
							artists.
						</p>
						<button class="btn btn_md btn_p50 btn_violet">
							<i class="ico_rocketlaunch_20px"></i>
							Get Started
						</button>
						<div class="hero_overview">
							<ul class="overview_list">
								<li class="overview_item">
									<strong class="overview_param">240k+</strong>
									<span class="overview_title">Total Sale</span>
								</li>
								<li class="overview_item">
									<strong class="overview_param">100k+</strong>
									<span class="overview_title">Auctions</span>
								</li>
								<li class="overview_item">
									<strong class="overview_param">240k+</strong>
									<span class="overview_title">Artists</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="hero_card">
						<div class="thumb card_thumb">
							<img class="img card_img" src="../img/image/img_hero_pc.png" alt="">
						</div>
						<div class="card_info">
							<strong class="card_title">Space Walking</strong>
							<div class="card_avt">
								<div class="avatar avatar_small">
									<div class="thumb">
										<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
									</div>
								</div>
								<span class="card_name">Animakid</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--// Section Hero -->

			<!-- Section Trending -->
			<section class="section">
				<div class="section_trending">
					<div class="section_heading">
						<div class="section_heading_wrap">
							<h3 class="section_title">Trending Collection</h3>
							<span class="section_subhead">Checkout our weekly updated trending collection.</span>
						</div>
					</div>
					<div class="section_content">
						<div class="card_list">
							<div class="trending_card_item">
								<div class="trending_card_image">
									<div class="thumb">
										<img src="../img/image/img_lg_trending1.png" alt="" class="img">
									</div>
									<div class="image_list">
										<div class="image_item">
											<div class="thumb">
												<img src="../img/image/img_lg_trending1.png" alt="" class="img">
											</div>
										</div>
										<div class="image_item">
											<div class="thumb">
												<img src="../img/image/img_lg_trending1.png" alt="" class="img">
											</div>
										</div>
										<div class="image_item image_more">
											<span class="image_number">1025+</span>
										</div>
									</div>
								</div>
								<div class="trending_card_info">
									<strong class="card_title">Space Walking</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
								</div>
							</div>
							<div class="trending_card_item">
								<div class="trending_card_image">
									<div class="thumb">
										<img src="../img/image/img_lg_trending1.png" alt="" class="img">
									</div>
									<div class="image_list">
										<div class="image_item">
											<div class="thumb">
												<img src="../img/image/img_lg_trending1.png" alt="" class="img">
											</div>
										</div>
										<div class="image_item">
											<div class="thumb">
												<img src="../img/image/img_lg_trending1.png" alt="" class="img">
											</div>
										</div>
										<div class="image_item image_more">
											<span class="image_number">1025+</span>
										</div>
									</div>
								</div>
								<div class="trending_card_info">
									<strong class="card_title">Space Walking</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
								</div>
							</div>
							<div class="trending_card_item">
								<div class="trending_card_image">
									<div class="thumb">
										<img src="../img/image/img_lg_trending1.png" alt="" class="img">
									</div>
									<div class="image_list">
										<div class="image_item">
											<div class="thumb">
												<img src="../img/image/img_lg_trending1.png" alt="" class="img">
											</div>
										</div>
										<div class="image_item">
											<div class="thumb">
												<img src="../img/image/img_lg_trending1.png" alt="" class="img">
											</div>
										</div>
										<div class="image_item image_more">
											<span class="image_number">1025+</span>
										</div>
									</div>
								</div>
								<div class="trending_card_info">
									<strong class="card_title">Space Walking</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--// Section Trending -->

			<!-- Section Top Rated -->
			<section class="section">
				<div class="section_toprated">
					<div class="section_heading">
						<div class="section_heading_wrap">
							<h3 class="section_title">Top creators</h3>
							<span class="section_subhead">Checkout Top Rated Creators on the NFT Marketplace</span>
						</div>
						<div class="section_heading_btn">
							<button class="btn btn_md btn_p50 btn_transparent">
								<i class="ico_rocketlaunch_color_20px"></i>
								View Rankings
							</button>
						</div>
					</div>
					<div class="section_content">
						<div class="card_list">
							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">1</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">2</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">3</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">4</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">5</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">6</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">7</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">8</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">9</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">10</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">11</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

							<div class="toprated_card_item">
								<div class="toprated_card_number">
									<span class="number">12</span>
								</div>
								<div class="toprated_card_avt">
									<div class="avatar avatar_large">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
								</div>
								<div class="toprated_card_info">
									<strong class="card_title">Space Walking</strong>
									<span class="card_infomore">
										Total Sales:
										<strong class="card_infomore_desc">34.53 ETH</strong>
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!--// Section Top Rated -->

			<!-- Section Browse Categories -->
			<section class="section">
				<div class="section_category">
					<div class="section_heading">
						<div class="section_heading_wrap">
							<h3 class="section_title">Browse Categories</h3>
						</div>
					</div>
					<div class="section_content">
						<div class="card_list">
							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

							<div class="category_card_item">
								<div class="category_card_image">
									<div class="category_card_thumb">
										<div class="thumb">
											<img src="../img/image/img_lg_trending1.png" alt="" class="img">
										</div>
									</div>
									<span class="category_card_icon">
										<i class="ico_paintbrush"></i>
									</span>
								</div>
								<strong class="category_card_name">Art</strong>
							</div>

						</div>
					</div>
			</section>
			<!--// Section Browse Categories -->

			<!-- Section Discover more NFTs -->
			<section class="section">
				<div class="section_discovery">
					<div class="section_heading">
						<div class="section_heading_wrap">
							<h3 class="section_title">Discover More NFTs</h3>
							<span class="section_subhead">Explore new trending NFTs</span>
						</div>
						<div class="section_heading_btn">
							<button class="btn btn_md btn_p50 btn_transparent">
								<i class="ico_eye_20px"></i>
								See All
							</button>
						</div>
					</div>
					<div class="section_content">
						<div class="card_list">
							<div class="discovery_card_item">
								<div class="discovery_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_lg_trending1.png" alt="" class="img">
									</div>
								</div>
								<div class="discovery_card_info">
									<strong class="card_title">Space Walking</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="discovery_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</div>

							<div class="discovery_card_item">
								<div class="discovery_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_lg_trending1.png" alt="" class="img">
									</div>
								</div>
								<div class="discovery_card_info">
									<strong class="card_title">Space Walking</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="discovery_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</div>

							<div class="discovery_card_item">
								<div class="discovery_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_lg_trending1.png" alt="" class="img">
									</div>
								</div>
								<div class="discovery_card_info">
									<strong class="card_title">Space Walking</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="discovery_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--// Section Discover more NFTs -->

			<!-- Section Highlight -->
			<section class="section">
				<div class="section_highlight">
					<div class="highlight_wrap">
						<div class="highlight_content">
							<div class="highlight_name">
								<div class="card_wrap">
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
								</div>
								<h2 class="highlight_title">Magic Mashrooms</h2>
								<button class="btn btn_md btn_p50 btn_white">
									<i class="ico_eye_20px"></i>
									See NFT
								</button>
							</div>
							<div class="highlight_timer">
								<span class="timer_desc">Auction ends in:</span>
								<div class="count">
									<div class="time_wrap">
										<span class="hour time_txt">0</span>
										<span class="title_txt">Hours</span>
									</div>
									<span class="divider">:</span>
									<div class="time_wrap">
										<span class="minute time_txt">0</span>
										<span class="title_txt">Minutes</span>
									</div>
									<span class="divider">:</span>
									<div class="time_wrap">
										<span class="second time_txt">0</span>
										<span class="title_txt">Seconds</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--// Section Highlight -->

			<!-- Section How it works -->
			<section class="section">
				<div class="section_answers">
					<div class="section_heading">
						<div class="section_heading_wrap">
							<h3 class="section_title">How it works</h3>
							<span class="section_subhead">Find out how to get started</span>
						</div>
					</div>
					<div class="section_content">
						section How it works
					</div>
				</div>
			</section>
			<!--// Section How it works -->

			<!-- Section Subscribe widget-->
			<section class="section">
				<div class="section_answers">
					<div class="section_heading">
						<div class="section_heading_wrap">
							<h3 class="section_title">Join our weekly digest</h3>
							<span class="section_subhead">Get exclusive promotions & updates straight to your inbox.</span>
						</div>
					</div>
					<div class="section_content">
						Section Subscribe widget
					</div>
				</div>
			</section>
			<!--// Section Subscribe widget -->
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

	@@include('./include/script.html')
</body>

</html>