@@include('./include/head.html',{"title": "Document Title - Main : UIT Gulp Project", "list_title": "List Title - Main_01 : Main"})
<body data-pagestatus="new : 2019.10.10">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<section class="section">
				<div>
					<h2>Discover digital art & Collect NFTs</h2>
					<p>NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
					<button class="btn btn_md btn_p50 btn_violet">
						<i class="ico_rocketlaunch_20px"></i>
						Get Started
					</button>
					<ul>
						<li>
							<strong>240k+</strong>
							<span>Total Sale</span>
						</li>
						<li>
							<strong>100k+</strong>
							<span>Auctions</span>
						</li>
						<li>
							<strong>240k+</strong>
							<span>Artists</span>
						</li>
					</ul>
				</div>
				<div>
					<div>
						<img src="../img/image/img_hero_pc.png" alt="">
					</div>
					<div>
						<strong>Space Walking</strong>
						<div>
							<div class="avatar avatar_small">
								<div class="thumb">
									<img src="../img/image/img_lg_trending1.png" alt="Animakid" class="img">
								</div>
							</div>
							<span>Animakid</span>
						</div>
					</div>
				</div>
				section 1
			</section>
			<section class="section">
				section 2
			</section>
			<section class="section">
				section 3
			</section>
			<section class="section">
				section 4
			</section>
			<section class="section">
				section 5
			</section>
			<section class="section">
				section 6
			</section>
			<section class="section">
				section 7
			</section>
			<section class="section">
				section 8
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>
