@@include('./include/head.html',{"title": "Artist", "list_title": "Artist : Page"})

<body data-pagestatus="update : 31-10-2023">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<section class="section section_thumb section_thumb_artist">
			</section>
			<section class="section section_profile">
				<div class="section_inner">
					<div class="profile_box">
						<div class="avatar avatar_extra_large">
							<div class="thumb">
								<img class="img" src="../img/image/img_xl_avt1.png" alt="">
							</div>
						</div>
						<div class="profile_info">
							<h2 class="page_title">Animakid</h2>
							<div class="profile_btn">
								<button class="btn btn_md btn_violet">
									<i class="ico_copy_20px"></i>
									0xc0E3...B79C
								</button>
								<button class="btn btn_md btn_transparent">
									<i class="ico_plus_20px"></i>
									Follow
								</button>
							</div>
						</div>
						<div class="profile_desc">
							<div class="profile_desc_item profile_overview">
								<ul class="overview_list">
									<li class="overview_item">
										<strong class="overview_param">250k+</strong>
										<span class="overview_title">Volume</span>
									</li>

									<li class="overview_item">
										<strong class="overview_param">50k+</strong>
										<span class="overview_title">NFTs Sold</span>
									</li>

									<li class="overview_item">
										<strong class="overview_param">3000+</strong>
										<span class="overview_title">Followers</span>
									</li>
								</ul>
							</div>
							<div class="profile_desc_item profile_bio">
								<strong class="profile_title">Bio</strong>
								<span>The internet's friendliest designer kid.</span>
							</div>
							<div class="profile_desc_item profile_sns">
								<strong class="profile_title">Links</strong>
								<ul class="sns_list">
									<li class="sns_item">
										<a class="sns_link" href="#none">
											<i class="ico_globe_32px"></i>
											<span class="blind">discord</span>
										</a>
									</li>

									<li class="sns_item">
										<a class="sns_link" href="#none">
											<i class="ico_discord_32px"></i>
											<span class="blind">discord</span>
										</a>
									</li>

									<li class="sns_item">
										<a class="sns_link" href="#none">
											<i class="ico_youtube_32px"></i>
											<span class="blind">youtube</span>
										</a>
									</li>

									<li class="sns_item">
										<a class="sns_link" href="#none">
											<i class="ico_twitter_32px"></i>
											<span class="blind">twitter</span>
										</a>
									</li>

									<li class="sns_item">
										<a class="sns_link" href="#none">
											<i class="ico_instagram_32px"></i>
											<span class="blind">instagram</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="section_tabs">
				<ul class="tabs">
					<li class="tabs_item active" data-tab="tab_1">
						<button class="tabs_link">
							<span class="tabs_name">Created</span>
							<span class="tabs_data only_pc_tb">302</span>
						</button>
					</li>

					<li class="tabs_item" data-tab="tab_2">
						<button class="tabs_link">
							<span class="tabs_name">Owned</span>
							<span class="tabs_data only_pc_tb">67</span>
						</button>
					</li>

					<li class="tabs_item" data-tab="tab_3">
						<button class="tabs_link">
							<span class="tabs_name">Collection</span>
							<span class="tabs_data only_pc_tb">4</span>
						</button>
					</li>
				</ul>
			</div>
			<section class="section section_card">
				<div class="section_inner">
					<div data-content="tab_1" class="section_card_box content_tab active">
						<ul class="card_list">
							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover1.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Distant Galaxy</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover2.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Life On Edena</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover3.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">AstroFiction</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover4.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">CryptoCity</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover5.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">ColorfulDog 0524</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover6.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Space Tales</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Cherry Blossom Girl 037</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover8.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robots 0987</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_discover9.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">IceCream Ape </strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>

					<div data-content="tab_2" class="section_card_box content_tab">
						<ul class="card_list">
							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist1.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Foxy Life</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist2.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Cat from future</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist3.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Psycho Dog</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist4.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Designer Bear</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist5.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0375</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist6.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0356</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_artist2.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0321</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist8.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0512</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist9.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0024</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>

					<div data-content="tab_3" class="section_card_box content_tab">
						<ul class="card_list">
							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist3.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Foxy Life</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist5.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Cat from future</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist1.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Psycho Dog</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist6.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Designer Bear</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0375</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist6.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0356</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_artist2.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0321</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist8.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0512</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist9.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0024</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- dimmed -->
	<div class="dimmed"></div>
	<!-- //dimmed -->

	@@include('./include/script.html')
</body>

</html>