@@include('./include/head.html',{"title": "Rankings", "list_title": "Rankings : Page"})

<body data-pagestatus="update : 31-10-2023">
  @@include('./include/skipnavigation.html')


  <div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main id="content" class="main">
      <section class="section section_rankings">
        <div class="section_inner rankings_heading">
          <h2 class="page_title">Top Creators</h2>
          <span class="page_desc">Check out top ranking NFT artists on the NFT Marketplace.</span>
        </div>
        <div class="section_tabs rankings_tabs">
          <ul class="tabs">
            <li class="tabs_item is_active" data-tab="tab_1">
              <button class="tabs_link">
                <span class="tabs_name" title="Today"></span>
                <span class="tabs_shortcut" title="1d"></span>
              </button>
            </li>

            <li class="tabs_item" data-tab="tab_2">
              <button class="tabs_link">
                <span class="tabs_name" title="This Week"></span>
                <span class="tabs_shortcut" title="7d"></span>
              </button>
            </li>

            <li class="tabs_item" data-tab="tab_3">
              <button class="tabs_link">
                <span class="tabs_name" title="This Month"></span>
                <span class="tabs_shortcut" title="30d"></span>
              </button>
            </li>

            <li class="tabs_item" data-tab="tab_4">
              <button class="tabs_link">
                <span class="tabs_name" title="All Time"></span>
                <span class="tabs_shortcut" title="All"></span>
              </button>
            </li>
          </ul>
          <div class="section_inner rankings_table">
            <div data-content="tab_1" class="rankings_table_wrap content_tab is_active">
              <table class="table">
                <caption><span>Top Creators</span></caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Change</th>
                    <th scope="col">NFTs Sold</th>
                    <th scope="col">Volume</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="number">1</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt1.png" alt="">
                      </span>
                      <span>Marcus Saris</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">2</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt2.png" alt="">
                      </span>
                      <span>Ruben Carder</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">3</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt3.png" alt="">
                      </span>
                      <span>Alfredo</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">4</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt4.png" alt="">
                      </span>
                      <span>Davis Franci</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">5</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt5.png" alt="">
                      </span>
                      <span>Livia Rosser</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">6</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt6.png" alt="">
                      </span>
                      <span>Kianna Donin</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">7</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt7.png" alt="">
                      </span>
                      <span>Phillip</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">8</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt8.png" alt="">
                      </span>
                      <span>Maria Rosser</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">9</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt9.png" alt="">
                      </span>
                      <span>Kianna</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">10</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt10.png" alt="">
                      </span>
                      <span>Angel Lubin</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">11</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt11.png" alt="">
                      </span>
                      <span>Allison Torff</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">12</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt12.png" alt="">
                      </span>
                      <span>Davis</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">13</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_discover5.png" alt="">
                      </span>
                      <span>Lindsey</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">14</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt10.png" alt="">
                      </span>
                      <span>Randy Carder</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">15</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt11.png" alt="">
                      </span>
                      <span>Lydia Culhane</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">16</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt8.png" alt="">
                      </span>
                      <span>Rayna Bator</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">17</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt12.png" alt="">
                      </span>
                      <span>Jocelyn</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">18</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt1.png" alt="">
                      </span>
                      <span>Marilyn Torff</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">19</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt11.png" alt="">
                      </span>
                      <span>Skylar Levin</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">20</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt3.png" alt="">
                      </span>
                      <span>Terry Dorwart</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div data-content="tab_2" class="rankings_table_wrap content_tab">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Change</th>
                    <th scope="col">NFTs Sold</th>
                    <th scope="col">Volume</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="number">1</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt2.png" alt="">
                      </span>
                      <span>Ruben</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">2</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt1.png" alt="">
                      </span>
                      <span>Marcus</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">3</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt3.png" alt="">
                      </span>
                      <span>Alfredo</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">4</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt5.png" alt="">
                      </span>
                      <span>Livia</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">5</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt4.png" alt="">
                      </span>
                      <span>Davis</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">6</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt8.png" alt="">
                      </span>
                      <span>Maria Rosser</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">7</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt6.png" alt="">
                      </span>
                      <span>Kianna Donin</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">8</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt9.png" alt="">
                      </span>
                      <span>Kianna</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">9</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt12.png" alt="">
                      </span>
                      <span>Davis</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">10</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt7.png" alt="">
                      </span>
                      <span>Phillip</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">11</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt10.png" alt="">
                      </span>
                      <span>Angel Lubin</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">12</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt11.png" alt="">
                      </span>
                      <span>Allison Torff</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">13</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_discover5.png" alt="">
                      </span>
                      <span>Lindsey</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">14</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt10.png" alt="">
                      </span>
                      <span>Randy Carder</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">15</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt11.png" alt="">
                      </span>
                      <span>Lydia Culhane</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">16</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt8.png" alt="">
                      </span>
                      <span>Rayna Bator</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">17</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt12.png" alt="">
                      </span>
                      <span>Jocelyn</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">18</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt1.png" alt="">
                      </span>
                      <span>Marilyn Torff</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">19</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt11.png" alt="">
                      </span>
                      <span>Skylar Levin</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>

                  <tr>
                    <td><span class="number">20</span></td>
                    <td>
                      <span class="avatar avatar_medium">
                        <img class="img" src="../img/image/img_lg_avt3.png" alt="">
                      </span>
                      <span>Terry Dorwart</span>
                    </td>
                    <td class="txt_green">+1.41%</td>
                    <td>602</td>
                    <td>12.4 ETH</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div data-content="tab_3" class="rankings_table_wrap content_tab">
              <div class="section_inner page_error">
                <img src="../img/image/no_data.png" alt="no data">
                <p class="page_error_text">There is no data to display yet!!</p>
              </div>
            </div>

            <div data-content="tab_4" class="rankings_table_wrap content_tab">
              <div class="section_inner page_error">
                <img src="../img/image/no_data.png" alt="no data">
                <p class="page_error_text">There is no data to display yet!!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "02"})
    <!--// [D] FOOTER -->
  </div>

  <!-- dimmed -->
  <div class="dimmed"></div>
  <!-- //dimmed -->

  @@include('./include/script.html')
</body>

</html>