@@include('./include/head.html',{"title": "Create Account", "list_title": "Create Account : Page"})

<body data-pagestatus="update : 31-10-2023">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<section class="section_account">
				<div class="account_thumb">
					<div class="thumb">
						<img class="img" src="../img/image/bg_create_acc_pc.png" alt="">
					</div>
				</div>
				<div class="account_box">
					<div class="account_form">
						<h2 class="page_title">Create account</h2>
						<p class="page_desc">Welcome! enter your details and start creating, collecting and selling NFTs.</p>
						<form action="#" class="form">
							<ul class="input_list">
								<li class="input_item">
									<div class="input_box">
										<span class="input_icon_left">
											<i class="ico_user_color_20px"></i>
										</span>
										<input type="text" id="username" name="username" placeholder="Username" class="input_text">
									</div>
								</li>

								<li class="input_item">
									<div class="input_box">
										<span class="input_icon_left">
											<i class="ico_email_color_20px"></i>
										</span>
										<input type="email" id="addressemail" name="addressemail" placeholder="Email Address" class="input_text">
									</div>
								</li>

								<li class="input_item">
									<div class="input_box">
										<span class="input_icon_left">
											<i class="ico_lockkey_color_20px"></i>
										</span>
										<input type="password" id="password" name="password" placeholder="Password" class="input_text">
									</div>
								</li>

								<li class="input_item">
									<div class="input_box">
										<span class="input_icon_left">
											<i class="ico_email_color_20px"></i>
										</span>
										<input type="password" id="cf_password" name="cf_password" placeholder="Confirm Password" class="input_text">
									</div>
								</li>
							</ul>
							<button class="btn btn_sm btn_violet" type="submit">
								Create account
							</button>
						</form>
					</div>
				</div>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

	@@include('./include/script.html')
</body>

</html>