@@include('./include/head.html',{"title": "Marketplace", "list_title": "Marketplace : Page"})

<body data-pagestatus="update : 31-10-2023">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<section class="section section_headingpage">
				<div class="section_inner">
					<h2 class="page_title">Browse Marketplace</h2>
					<span class="page_desc">Browse through more than 50k NFTs on the NFT Marketplace.</span>
					<div class="input_box input_search">
						<input type="text" id="search" name="search" placeholder="Search your favourite NFTs"
							class="input_text input_mo">
						<button class="input_icon_right">
							<i class="ico_search_24px"></i>
						</button>
					</div>
				</div>
			</section>
			<div class="section_tabs">
				<ul class="tabs">
					<li class="tabs_item active" data-tab="tab_1">
						<button class="tabs_link">
							<span class="tabs_name">NFTs</span>
							<span class="tabs_data only_pc_tb">302</span>
						</button>
					</li>
					<li class="tabs_item" data-tab="tab_2">
						<button class="tabs_link">
							<span class="tabs_name">Collections</span>
							<span class="tabs_data only_pc_tb">67</span>
						</button>
					</li>
				</ul>
			</div>
			<section class="section section_marketplace">
				<div class="section_inner">
					<div data-content="tab_1" class="section_card_box content_tab active">
						<ul class="card_list">
							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist10.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Magic Mushroom 0325</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt3.png" alt="">
												</div>
											</div>
											<span class="card_name">Shroomie</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist11.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Happy Robot 032</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt4.png" alt="">
												</div>
											</div>
											<span class="card_name">BeKind2Robots</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist12.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Happy Robot 024</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt4.png" alt="">
												</div>
											</div>
											<span class="card_name">BeKind2Robots</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist4.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Designer Bear</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt2.png" alt="">
												</div>
											</div>
											<span class="card_name">Mr Fox</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace5.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Colorful Dog 0356</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Keepitreal</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0312</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt12.png" alt="">
												</div>
											</div>
											<span class="card_name">Robotica</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Cherry Blossom Girl 035</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">MoonDancer</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace8.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Space Travel</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt6.png" alt="">
												</div>
											</div>
											<span class="card_name">NebulaKid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace9.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Sunset Dimension</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt1.png" alt="">
												</div>
											</div>
											<span class="card_name">Animakid</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace10.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Desert Walk</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt9.png" alt="">
												</div>
											</div>
											<span class="card_name">Catch 22</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace11.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">IceCream Ape 0324</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt10.png" alt="">
												</div>
											</div>
											<span class="card_name">Ice Ape Club</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc animate_in">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_marketplace12.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Colorful Dog 0344</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt11.png" alt="">
												</div>
											</div>
											<span class="card_name">PuppyPower</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>

					<div data-content="tab_2" class="section_card_box content_tab">
						<ul class="card_list">
							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist1.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Foxy Life</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist2.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Cat from future</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist3.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Psycho Dog</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist4.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Designer Bear</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist5.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0375</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc_tb">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist6.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0356</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_artist2.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist7.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0321</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist8.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0512</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>

							<li class="artist_card_item only_pc">
								<a href="02_04_nft.html">
									<div class="thumb">
										<img class="img" src="../img/image/img_artist9.png" alt="">
									</div>
									<div class="artist_card_info">
										<strong class="card_title">Dancing Robot 0024</strong>
										<div class="card_avatar">
											<div class="avatar avatar_small">
												<div class="thumb">
													<img class="img" src="../img/image/img_sm_avt8.png" alt="">
												</div>
											</div>
											<span class="card_name">Orbitian</span>
										</div>
										<div class="artist_card_desc">
											<div class="card_price">
												<span class="card_desc_title">Price</span>
												<em class="price">1.63 ETH</em>
											</div>
											<div class="card_maxprice">
												<span class="card_desc_title">Highest Bid</span>
												<em class="price">0.33 wETH</em>
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "02"})
		<!--// [D] FOOTER -->
	</div>

	<!-- dimmed -->
	<div class="dimmed"></div>
	<!-- //dimmed -->

	@@include('./include/script.html')
</body>

</html>