@@include('./include/head.html',{"title": "Marketplace", "list_title": "Marketplace : Page"})

<body data-pagestatus="new : 2023">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<section class="section section_headingpage">
				<div class="section_inner">
					<h2 class="page_title">The Orbitians</h2>
					<span class="page_desc">Browse through more than 50k NFTs on the NFT Marketplace.</span>
					<div class="input_group input_search">
						<input type="text" id="search" name="search" placeholder="Search your favourite NFTs"
							class="input_text input_mo">
						<button class="input_icon_right">
							<i class="ico_search_24px"></i>
						</button>
					</div>
				</div>
			</section>
			<div class="section_tabs">
				<ul class="tabs">
					<li class="tabs_item">
						<button class="tabs_link active">
							<span class="tabs_name">NFTs</span>
							<span class="tabs_data only_pc_tb">302</span>
						</button>
					</li>
					<li class="tabs_item">
						<button class="tabs_link">
							<span class="tabs_name">Collections</span>
							<span class="tabs_data only_pc_tb">67</span>
						</button>
					</li>
				</ul>
			</div>
			<section class="section section_marketplace">
				<div class="section_inner">
					<div class="section_card_box">
						<ul class="card_list">
							<li class="artist_card_item">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover1.png" alt="Distant Galaxy" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">Distant Galaxy</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover2.png" alt="Life On Edena" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">Life On Edena</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="NebulaKid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover3.png" alt="AstroFiction" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">AstroFiction</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item only_pc_tb">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover4.png" alt="CryptoCity" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">CryptoCity</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item only_pc_tb">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover5.png" alt="ColorfulDog 0524" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">ColorfulDog 0524</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item only_pc_tb">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover6.png" alt="Space Tales" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">Space Tales</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item only_pc">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover7.png" alt="Cherry Blossom Girl 037" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">Cherry Blossom Girl 037</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item only_pc">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover8.png" alt="Dancing Robots 0987" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">Dancing Robots 0987</strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>

							<li class="artist_card_item only_pc">
								<div class="artist_card_image">
									<div class="thumb thumb_card">
										<img src="../img/image/img_discover9.png" alt="IceCream Ape" class="img">
									</div>
								</div>
								<div class="artist_card_info">
									<strong class="card_title">IceCream Ape </strong>
									<div class="card_avt">
										<div class="avatar avatar_small">
											<div class="thumb">
												<img src="../img/image/img_sm_avt1.png" alt="Animakid" class="img">
											</div>
										</div>
										<span class="card_name">Animakid</span>
									</div>
									<div class="artist_card_desc">
										<div class="card_price">
											<span class="card_desc_title">Price</span>
											<span class="card_desc_price">1.63 ETH</span>
										</div>
										<div class="card_maxprice">
											<span class="card_desc_title">Highest Bid</span>
											<span class="card_desc_price">0.33 wETH</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

	@@include('./include/script.html')
</body>

</html>