@@include('./include/head.html',{"title": "NFT Page", "list_title": "NFT Page : Page"})
<body data-pagestatus="new : 2023">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
      <section class="section section_thumb section_thumb_nft">
			</section>
      <section class="section section_nftinfo">
        <div class="section_inner">

        </div>
      </section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>