.section {
  &_account {
    display: block;
    font-size: 0;

    @include respond-below($screen-sm) {
      display: block;
    }
  }
}

.account {
  &_thumb {
    display: inline-block;
    vertical-align: middle;

    @include respond-above($screen-md) {
      width: calc(50% - 30px);

      .thumb {
        padding-top: 113.27%;
      }
    }

    @include respond-between($screen-sm, $screen-md) {
      width: calc(50% - 20px);

      .thumb {
        padding-top: 154.91%;
      }
    }

    @include respond-below($screen-sm) {
      width: 100%;

      .thumb {
        padding-top: 61.866%;
      }
    }
  }

  &_box {
    display: inline-block;
    vertical-align: middle;

    @include respond-above($screen-md) {
      width: calc(50% - 30px);
      margin-left: 60px;
    }

    @include respond-between($screen-sm, $screen-md) {
      width: calc(50% - 20px);
      margin-left: 40px;
    }

    @include respond-below($screen-sm) {
      width: 100%;
      padding: 30px 30px 40px;
      box-sizing: border-box;
    }
  }

  &_form {
    @include respond-above($screen-md) {
      width: 460px;
    }

    @include respond-between($screen-sm, $screen-md) {
      width: 325px;
    }

    .page_desc {
      margin-top: 20px;
    }

    .form {
      display: block;
      margin-top: 40px;
      background-color: transparent;

      @include respond-above($screen-md) {
        width: 330px;
      }

      @include respond-between($screen-sm, $screen-md) {
        width: 100%;
      }

      @include respond-below($screen-sm) {
        margin-top: 30px;
      }
    }
  }
}