.section {
  &_account {
    display: flex;
    font-size: 0;

    @include mobile {
      & {
        display: block;
      }
    }
  }
}

.account {
  &_thumb {
    display: inline-block;

    @include desktop {
      width: calc(50% - 30px);

      & .thumb {
        padding-top: 113.27%;
      }
    }

    @include tablet {
      width: calc(50% - 20px);

      & .thumb {
        padding-top: 154.91%;
      }
    }

    @include mobile {
      width: 100%;

      & .thumb {
        padding-top: 61.866%;
      }
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;

    @include desktop {
      & {
        width: calc(50% - 30px);
        margin-left: 60px;
      }
    }

    @include tablet {
      & {
        width: calc(50% - 20px);
        margin-left: 40px;
      }
    }

    @include mobile {
      & {
        width: 100%;
        padding: 30px 30px 40px;
        box-sizing: border-box;
      }
    }
  }

  &_form {
    @include desktop {
      & {
        width: 460px;
      }
    }

    @include tablet {
      & {
        width: 325px;
      }
    }

    .page_title {
      @include mobile {
        // @include custom-font(38px, 600, 46px)
      }
    }

    .page_desc {
      margin-top: 20px;
    }

    & .form {
      display: block;
      margin-top: 40px;
      background-color: transparent;

      @include desktop {
        width: 330px;

      }

      @include tablet {
        width: 100%;

      }

      @include mobile {
        margin-top: 30px;

      }

      & .input_text {
        padding: 11px 20px 11px 52px;
      }

    }

  }
}