.section {
  &_thumb {
    &_artist {
      height: 320px;

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 320px;
        background: var(--gradient_white_violet);
        content: '';
      }

      @include respond-between($screen-sm, $screen-md) {
        height: 280px;

        &::after {
          height: 280px;
        }
      }

      @include respond-below($screen-sm) {
        height: 250px;

        &::after {
          height: 250px;
        }
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_profile {
    margin-top: -110px;

    @include respond-above($screen-md) {
      margin-top: -150px;

      .overview_title {
        font-size: 22px
      }
    }

    @include respond-below($screen-sm) {
      .page_title {
        @include custom-font(28px, 600, 39px);
      }

      .overview_item {
        width: calc((100% / 3) - 10px);
      }

      .overview_item+.overview_item {
        margin-left: 20px;
      }
    }

    .section_inner {
      padding-bottom: 30px;

      @include respond-above($screen-md) {
        padding-bottom: 38px;
      }
    }

    .btn_violet {
      padding: 0 20px;
    }

    .btn_transparent {
      padding: 0 29px;
    }

    .sns_item+.sns_item {
      margin-left: 10px;

      @include respond-above($screen-md) {
        margin-left: 9px
      }
    }
  }

  &_tabs {
    border-top: 1px solid map-get($gray, 2);

    .tabs {
      max-width: 1366px;
      margin: 0 auto;
      padding: 10px 115px 0;
      box-sizing: border-box;

      @include respond-between($screen-sm, $screen-md) {
        padding: 10px 75px 0;
      }

      @include respond-below($screen-sm) {
        padding: 6px 30px 0;
      }
    }
  }
}

.profile {
  &_box {
    font-size: 0;

    .avatar {
      position: relative;

      @include respond-below($screen-sm) {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &_info {
    display: block;
    margin-top: 30px;

    @include respond-above($screen-md) {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }

  &_btn {
    margin-top: 30px;
    font-size: 0;

    @include respond-above($screen-md) {
      margin-top: 0;
    }

    .btn {
      @include respond-below($screen-sm) {
        width: 100%;
      }
    }

    .btn+.btn {
      margin-left: 20px;

      @include respond-below($screen-sm) {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }

  &_desc {
    width: 500px;
    margin-top: 30px;

    @include respond-above($screen-md) {
      margin-top: 25px;
    }

    @include respond-below($screen-sm) {
      width: 100%;
    }

    .profile_title {
      display: block;
      margin-bottom: 10px;
      font-family: SpaceMono;
      @include custom-font(16px, 400, 22px);
      color: map-get($gray, 3);

      @include respond-above($screen-md) {
        @include custom-font(22px, 700, 35px);
      }
    }
  }

  &_bio {
    margin-top: 30px;
  }

  &_sns {
    margin-top: 30px;

    .sns_list {
      margin-top: 0;
    }

    .ico_discord_32px {
      background-position: -324px -396px;
      width: 24px;
      height: 24px;

      @include respond-above($screen-md) {
        background-position: -440px -84px;
        width: 33px;
        height: 32px;
      }
    }

    .ico_discord_32px {
      background-position: -324px -396px;
      width: 24px;
      height: 24px;

      @include respond-above($screen-md) {
        background-position: -440px -84px;
        width: 33px;
        height: 32px;
      }
    }

    .ico_youtube_32px {
      background-position: -28px -432px;
      width: 24px;
      height: 24px;

      @include respond-above($screen-md) {
        background-position: -396px -216px;
        width: 33px;
        height: 32px;
      }
    }

    .ico_twitter_32px {
      background-position: 0px -432px;
      width: 24px;
      height: 24px;

      @include respond-above($screen-md) {
        background-position: -440px -172px;
        width: 33px;
        height: 32px;
      }
    }

    .ico_instagram_32px {
      background-position: -380px -396px;
      width: 24px;
      height: 24px;

      @include respond-above($screen-md) {
        background-position: -440px -128px;
        width: 33px;
        height: 32px;
      }
    }
  }

  &_bio {
    &>span {
      @include custom-font(16px, 400, 22px);
      text-transform: capitalize;

      @include respond-above($screen-md) {
        @include custom-font(22px, 400, 35px);
      }
    }
  }
}

.section_card {
  background-color: map-get($gray, 2);

  .section_inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &_box {
    @include respond-below($screen-sm) {
      .artist_card_item:not(:first-child) {
        margin-top: 30px;
      }
    }

    .artist_card_item {
      background-color: map-get($gray, 1);
    }
  }
}

.artist_page {
  .artist_card_item {
    background-color: map-get($gray, 1);

    @include respond-between($screen-sm, $screen-md) {
      &:nth-child(n + 7) {
        display: none;
      }
    }

    @include respond-below($screen-sm) {
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}