.section {
  &_profile {
    .section_inner {
      margin-top: -110px;
      padding-bottom: 18px;

      @include desktop {
        margin-top: -150px;
        padding-bottom: 40px;
      }

    }

    .btn_violet {
      padding: 0 20px;
    }

    .sns_item+.sns_item {
      margin-left: 9px
    }

    @include desktop {
      .overview_title {
        font-size: 22px
      }
    }

    @include mobile {
      .overview_item {
        width: calc((100% / 3) - 10px);
      }

      .overview_item+.overview_item {
        margin-left: 20px;
      }
    }
  }

  &_thumb {
    &_artist {
      height: 320px;
      background: url(../img/image/bg_artist_pc.jpg) no-repeat center/cover;

      &::after {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 320px;
        background: var(--gradient_white_violet);
        content: '';
      }

      @include tablet {
        height: 280px;

        &::after {
          height: 280px;
        }
      }

      @include mobile {
        height: 250px;

        &::after {
          height: 250px;
        }
      }
    }

  }

  &_tabs {

    border-top: 1px solid map-get($gray, 2);
    background-color: map-get($gray, 1);

    .tabs {
      max-width: 1366px;
      margin: 0 auto;
      padding: 10px 115px 0;
      box-sizing: border-box;

      @include tablet {
        padding: 10px 72px 0;

      }

      @include mobile {
        padding: 10px 30px 0;

      }
    }
  }
}

.profile {
  &_box {
    font-size: 0;

    .avatar {
      @include mobile {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &_info {
    display: block;
    margin-top: 30px;

    @include desktop {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

    }
  }

  &_name {
    @include custom-font(51px, 600, 56px);

    @include tablet {
      @include custom-font(38px, 600, 46px);

    }

    @include mobile {
      @include custom-font(28px, 600, 39px);

    }
  }

  &_btn {
    margin-top: 30px;
    font-size: 0;

    .btn+.btn {
      margin-left: 20px;
    }

    @include desktop {
      margin-top: 0;
    }

    @include mobile {
      .btn {
        display: block;
        width: 100%;
      }

      .btn+.btn {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }

  &_desc {
    width: 500px;
    margin-top: 30px;

    @include desktop {
      margin-top: 25px;

    }

    @include mobile {
      width: 100%;

    }

    &_item+&_item {
      margin-top: 29px;
    }

    .profile_title {
      display: block;
      margin-bottom: 10px;
      font-family: SpaceMono;
      @include custom-font(16px, 400, 22px);
      color: map-get($gray, 3);

      @include desktop {
        @include custom-font(22px, 700, 35px);
      }
    }

  }

  &_bio {
    &>span {
      @include custom-font(16px, 400, 22px);
      text-transform: capitalize;

      @include desktop {
        @include custom-font(22px, 400, 35px);
      }
    }
  }


}

.section_card {
  background-color: map-get($gray, 2);

  .section_inner {
    padding-top: 80px;

    @include tablet {
      padding-bottom: 80px;
    }

    @include mobile {
      padding-bottom: 80px;
    }
  }

  &_box {
    .artist_card_item {
      background-color: map-get($gray, 1);
    }

    @include mobile {
      .artist_card_item:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}