.section {
  &_connect {
    display: flex;
    font-size: 0;

    @include respond-below($screen-sm) {
      & {
        display: block;
      }
    }
  }
}

.connect {
  &_thumb {
    display: inline-block;

    @include respond-above($screen-md) {
      width: calc(50% - 30px);

      & .thumb {
        padding-top: 105.24%;
      }
    }

    @include respond-between($screen-sm,$screen-md) {
      width: calc(50% - 20px);

      & .thumb {
        padding-top: 133.50%;
      }
    }

    @include respond-below($screen-sm) {
      width: 100%;

      & .thumb {
        padding-top: 61.866%;
      }
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;

    @include respond-above($screen-md) {
      & {
        width: calc(50% - 30px);
        margin-left: 60px;
      }
    }

    @include respond-between($screen-sm,$screen-md) {
      & {
        width: calc(50% - 20px);
        margin-left: 40px;
      }
    }

    @include respond-below($screen-sm) {
      & {
        width: 100%;
        padding: 30px 30px 40px;
        box-sizing: border-box;
      }
    }
  }

  &_form {
    @include respond-above($screen-md) {
      & {
        width: 460px;
      }
    }

    @include respond-between($screen-sm,$screen-md) {
      & {
        width: 320px;
      }
    }
 
    .page_desc{
      margin-top: 20px;
    }
  }

  &_list {
    display: block;
    margin-top: 40px;

    @include respond-above($screen-md) {
      width: 320px;

    }

    @include respond-between($screen-sm,$screen-md) {
      width: 100%;

    }

    @include respond-below($screen-sm) {
      margin-top: 30px;

    }

  }

  &_item+&_item {
    margin-top: 20px;
  }

  &_link {
    display: block;
    padding: 13px 20px 13px 40px;
    border: 1px solid var(--bg_btn_violet);
    border-radius: $border_radius_sm;
    background-color: map-get($gray, 2);
    box-sizing: border-box;

    @include respond-above($screen-md) {
      padding: 15px 20px 15px 40px;
    }
  }

  &_name {
    display: inline-block;
    margin-left: 20px;
    @include custom-font(22px, 600, 31px);
    color: var(--white);
    vertical-align: middle;
  }
}