body {
  overflow-x: hidden;
  background-color: map-get($gray, 1);
}

.wrap {
  color: var(--white);
}

.main {
  max-width: 1366px;
  margin: 0 auto;
}

// <!-- Navigation -->
.header {
  @include flex-item(flex, space-between, center);
  padding: 20px 50px;
}

.logo {
  display: inline-flex;
  height: 32px;

  &_link {
    flex: 0 0 auto;
  }

  &_img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &_list {
    @include flex-item(flex, null, center);

    &+button {
      margin-left: 10px;
    }
  }

  &_item+&_item {
    margin-left: 10px;
  }

  &_link {
    display: inline-block;
    padding: 12px 20px;
    @include custom-font(16px, 600, 22px);
    color: var(--white);
  }
}

@include tablet {
  .header {
    padding: 15px 50px;

    .logo {
      height: 24px;
    }
  }

  

  .nav {
    display: none;
  }
}

// <!-- // Navigation -->

// <!--CONTENTS -->


.section {
  padding: 80px 115px;

  &:last-child {
    padding-top: 40px;
  }
}

@include tablet {
  .section {
    padding: 40px 72px;

    &:first-child {
      padding: 80px 72px;
    }

    &:last-child {
      padding-top: 23px;
      padding-bottom: 80px;
    }
  }
}

// < !-- Section Hero -->

.section {
  &_hero {
    display: block;
    font-size: 0;
  }
}

.hero {
  &_content {
    display: inline-block;
    width: calc(50% - 15px);
  }

  &_title {
    @include custom-font(67px, 600, 74px);
    text-transform: capitalize;

    @include tablet {
      & {
        @include custom-font(38px, 600, 46px);
      }
    }
  }

  &_desc {
    margin-top: 20px;
    @include custom-font(22px, 400, 35px);
    text-transform: capitalize;

    @include tablet {
      & {
        @include custom-font(16px, 400, 22px);
      }
    }
  }

  &_desc+button,
  &_overview {
    margin-top: 30px;

    @include tablet {
      & {
        margin-top: 20px;
      }
    }
  }

  &_card {
    display: inline-block;
    width: calc(50% - 15px);
    overflow: hidden;
    margin-left: 30px;
    border-radius: $border_radius_sm;
    background-color: map-get($gray, 2);
    vertical-align: top;
  }
}

.overview {
  &_list {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    display: block;
    width: calc((100% / 3) - 15px);
  }

  &_item+&_item {
    margin-left: 30px;
  }

  &_param {
    display: block;
    font-family: SpaceMono;
    @include custom-font(28px, 700, 39px);

    @include tablet {
      & {
        @include custom-font(22px, 700, 35px);
      }
    }
  }

  &_title {
    display: inline-block;
    @include custom-font(24px, 400, 38px);

    @include tablet {
      & {
        @include custom-font(16px, 400, 22px);
      }
    }
  }
}

.card {
  &_thumb {
    padding-top: 78.9%;

    @include tablet {
      & {
        padding-top: 66.9%;
      }
    }
  }

  &_info {
    padding: 22px 20px;
  }

  &_title {
    display: inline-block;
    @include custom-font(22px, 600, 31px);
    text-transform: capitalize;
  }

  &_avt {
    @include flex-item(flex, null, center);
    margin-top: 10px;
  }

  &_name {
    display: inline-block;
    margin-left: 12px;
    @include custom-font(16px, 400, 22px);
  }
}

// < !-- // Section Hero -->

// < !-- Section Trending -->
.section {
  &_trending {
    .trending_card_item {
      border-radius: 0;
    }
  }

  &_heading {
    display: flex;
    justify-content: space-between;

    &_wrap {
      @include tablet {
        & {
          // width: 343px;
        }
      }
    }
  }

  &_heading_btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: end
  }

  &_title {
    @include custom-font(38px, 600, 46px);
    text-transform: capitalize;

    @include tablet {
      & {
        @include custom-font(28px, 600, 39px);
      }
    }
  }

  &_subhead {
    display: inline-block;
    margin-top: 10px;
    @include custom-font(22px, 400, 35px);
    text-transform: capitalize;

    @include tablet {
      & {
        @include custom-font(16px, 400, 22px);
      }
    }
  }

  &_content {
    margin-top: 60px;

    @include tablet {
      & {
        margin-top: 40px;
      }
    }
  }

}

.trending_card {
  &_item {
    @include card_three_item;

    @include tablet {
      & {
        @include card_two_item;
      }
    }
  }

  &_thumb .thumb {
    border-radius: $border_radius_sm;
  }

  &_info {
    margin-top: 15px;
  }
}

.image {
  &_list {
    display: flex;
    margin-top: 15px;
  }

  &_item {
    display: inline-block;
    @include border_sm;
    width: calc((100% / 3) - 7.5px);

    &+.image_item {
      margin-left: 15px;
    }
  }

  &_more {
    @include flex-item(flex, center, center);
    flex-direction: column;
    background-color: var(--bg_btn_violet);
  }

  &_number {
    font-family: SpaceMono;
    @include custom-font(22px, 700, 35px);
    text-align: center;
    color: var(--white);
  }
}

// < !-- // Section Trending -->

// <!-- Section Top Rated -->
.toprated_card {
  &_item {
    position: relative;
    padding: 20px;
    font-size: 0;
    background-color: map-get($gray, 2);
    box-sizing: border-box;
    text-align: center;


    @include tablet {
      & {
        @include card_two_item;
        text-align: start;
      }
    }

    @include desktop {
      & {
        @include card_four_item;
      }
    }

  }

  &_avt {

    @include tablet {
      & {
        display: inline-block;
        vertical-align: middle;
      }
    }

  }

  &_number {
    position: absolute;
    top: 22px;
    left: 30px;
    font-family: SpaceMono;

    @include tablet {
      & {
        top: 17px;
        left: 23px;
      }
    }
  }

  &_info {
    display: inline-block;
    margin-top: 20px;

    @include tablet {
      & {
        width: calc(100% - 80px);
        margin-top: 0;
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }

}

.card_infomore {
  display: block;
  margin-top: 4px;
  @include custom-font(16px, 400, 22px);
  color: map-get($gray, 3);

  &_desc {
    margin-left: 4px;
    font-family: SpaceMono;
    @include custom-font(16px, 400, 22px);
    color: var(--white);

    @include tablet {
      & {
        margin-left: 13px
      }
    }
  }
}

// <!--// Section Top Rated -->

// < !-- Section Browse Categories -->
.category_card {
  &_item {
    @include card_four_item;
    background-color: map-get($gray, 2);

    & .thumb {
      @include tablet {
        & {
          padding-top: 94.667%;
        }
      }
    }
  }

  &_image {
    position: relative;
  }

  &_thumb {
    &::after {
      @include absolute-align(0, 0, null, null);
      @include custom-dimensions(100%, 100%);
      backdrop-filter: blur(8px) brightness(100%);
      content: '';
    }
  }

  &_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_name {
    display: block;
    padding: 20px 30px 25px 30px;
    @include custom-font(22px, 600, 31px);

    @include tablet {
      & {
        padding: 20px 20px 25px 20px;
        @include custom-font(16px, 600, 22px);
      }
    }
  }
}

// < !-- // Section Browse Categories -->

// <!-- Section Discover more NFTs -->
.section_discovery {
  .card_avt {
    margin-top: 5px
  }
}

.discovery_card {
  &_item {
    @include card_three_item;
    background-color: map-get($gray, 2);

    @include tablet {
      & {
        @include card_two_item;

      }
    }
  }

  &_info {
    padding: 20px 30px 25px 30px;

    .card_name {
      font-family: SpaceMono;
    }
  }

  &_desc {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-family: SpaceMono;
  }
}

.card_desc {
  &_title {
    display: block;
    @include custom-font(12px, 400, 13px);
    color: map-get($gray, 3);
  }

  &_price {
    display: block;
    margin-top: 8px;
    @include custom-font(16px, 400, 22px);
  }
}

.card {
  &_price {
    text-align: left;
  }

  &_maxprice {
    text-align: right;
  }
}

// <!--// Section Discover more NFTs -->

// <!-- Section Highlight -->
.section {
  &_highlight {
    @include bg_full(relative, 0, 640px, url(../img/image/bg_highlight_pc.png) no-repeat center/cover, -80px -50vw);

    &::after {
      @include bg_full(absolute, -1, 640px, var(--gradient_white_violet), 0 -50vw);
    }

    .card_avt {
      margin-top: 0;
    }

    @include tablet {
      & {
        height: 630px;
        margin: 0 -50vw -40px;
        background: url(../img/image/bg_highlight_tb.png) no-repeat center/cover;

        &::after {
          height: 630px;
        }
      }
    }
  }
}

.highlight {
  &_wrap {
    margin: 0 auto;
    max-width: 1366px;
  }

  &_content {
    position: absolute;
    bottom: 0;
    max-width: 1366px;
    width: 100%;
    padding: 60px 115px;
    font-size: 0;
    box-sizing: border-box;

    & button {
      margin-top: 30px;
    }

    @include tablet {
      & {
        padding: 60px 82px;
      }
    }
  }

  &_name {
    display: inline-block;
    width: calc(100% - 295px);
  }

  &_title {
    margin-top: 30px;
    @include custom-font(51px, 600, 56px);

    @include tablet {
      & {
        @include custom-font(38px, 600, 46px);
      }
    }
  }

  &_timer {
    display: inline-block;
    width: 295px;
    padding: 30px 30px 26px;
    font-family: SpaceMono;
    border-radius: $border_radius_sm;
    background-color: map-get($gray, 5);
    box-sizing: border-box;
    vertical-align: bottom;

    .timer_desc {
      @include custom-font(12px, 400, 13px);
    }
  }
}

.card_wrap {
  display: inline-block;
  padding: 10px 20px;
  border-radius: $border_radius_sm;
  background-color: map-get($gray, 2);
}

// <!--// Section Highlight -->

// <!-- Section How it works -->
.section_steps {
  // .card_list {
  //   display: flex
  // }

  .section_content {
    margin-top: 48px;

    @include tablet {
      margin-top: 42px;
    }
  }
}

.steps_card {
  &_item {
    @include card_three_item;
    padding: 10px 30px 30px;
    background-color: map-get($gray, 2);
    box-sizing: border-box;
    text-align: center;

    @include tablet {
      padding: 10px 20px 30px;
    }
  }

  &_thumb {
    padding: 0 10px;

    @include tablet{
      &{
        padding: 0 5px;
      }
    }
  }

  &_info {
    margin-top: 20px;
    .card_title {

      @include tablet {
        & {
          @include custom-font(16px, 600, 22px);

        }
      }
    }
  }

  &_desc {
    margin-top: 10px;
    @include custom-font(16px, 400, 22px);

    @include tablet {
      & {
        @include custom-font(12px, 400, 17px);
      }
    }
  }
}

// <!--// Section How it works -->

// <!-- Section Subscribe widget-->
.section {
  &_subscribe {
    @include border_sm;
    padding: 60px;
    font-size: 0;
    background-color: map-get($gray, 2);

    @include tablet {
      & {
        padding: 40px 30px;
      }
    }

    .section_content,
    .section_heading {
      display: inline-block;
      width: calc(50% - 40px);
      vertical-align: middle;

      @include tablet{
        &{
          width: calc(50% - 15px)
        }
      }
    }

    .section_content {
      @include border_sm;
      margin-top: 0px;
    }

    .section_heading {
      display: inline-block;
      margin-left: 80px;

      @include tablet {
        & {
          margin-left: 30px;
        }
      }
    }

    .form {
      margin-top: 40px;
    }

    .form {
      @include tablet {
        &_mo {
          display: block;
          background-color: transparent;

          input {
            border-radius: $border_radius_sm;
          }
        }
      }

      .input {
        @include tablet {
          & {
            &_mo {
              padding: 11px 20px;
              border: 1px solid map-get($gray, 3);

            }

            &_mo+button {
              width: 100%;
              margin-top: 16px;

            }
          }
        }

      }

      &_email {
        button {
          @include tablet {
            height: 46px;
          }
        }
      }
    }
  }
}

.subscribe {
  &_thumb {
    padding-top: 72.94%;

    @include tablet {
      & {
        padding-top: 93.33%;
      }
    }
  }


}

// <!--// Section Subscribe widget -->

// <!-- // CONTENTS -->


// <!-- Footer -->
.footer {
  background-color: map-get($gray, 2);

  &_content {
    padding: 40px 115px;
    box-sizing: border-box;

    @include tablet {
      & {
        padding: 40px 72px;
      }
    }
  }

  &_info {
    display: flex;

    @include tablet {
      & {
        display: block;
      }
    }

    &_txt,
    .explore_link,
    .footer_info_desc {
      display: block;
      @include custom-font(16px, 400, 22px);
      color: map-get($gray, 4);
    }

    &_sns {
      margin-top: 20px;
    }
  }

  &_box {
    display: inline-block;
    width: calc(100% - 420px - 240px - 62px);

    .footer_info_desc {
      margin-top: 30px;

      @include tablet {
        & {
          margin-top: 20px;
        }
      }
    }

    @include tablet {
      & {
        display: block;
        width: 100%;
      }
    }
  }

  &_explore {
    display: inline-block;
    width: 240px;
    margin-left: 31px;
    vertical-align: top;

    @include tablet {
      & {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  .explore {
    &_list {
      margin-top: 25px;

      @include tablet {
        & {
          margin-top: 20px;
        }
      }
    }

    &_item+.explore_item {
      margin-top: 20px;
    }
  }

  &_subscribe {
    display: inline-block;
    margin-left: 31px;
    width: 420px;
    vertical-align: top;

    & .footer_info_txt {
      margin-top: 25px;

      @include tablet {
        & {
          margin-top: 20px;
        }
      }
    }

    & .form_email {
      width: 420px;
      margin-top: 20px;
    }

    @include tablet {
      & {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
      }
    }


  }

  &_title {
    font-family: SpaceMono;
    @include custom-font(22px, 700, 35px);
    text-transform: capitalize;
  }

  .sns {
    &_list {
      margin-top: 10px;

      @include tablet {
        & {
          margin-top: 15px;
        }
      }
    }

    &_item {
      display: inline-block;

      &+.sns_item {
        margin-left: 4px;
      }
    }

    &_link {
      display: inline-block;
    }
  }

  &_copyright {
    margin-top: 30px;
    border-top: 1px solid map-get($gray , 3);

    @include tablet {
      & {
        margin-top: 49px;
      }
    }

    &_txt {
      display: block;
      padding-top: 20px;
      @include custom-font(12px, 400, 13px);
      color: map-get($gray , 4);
    }
  }
}

// <!-- // Footer -->

// <!-- Count down -->
.count {
  display: block;
  margin-top: 10px;
  font-size: 0;
  text-align: center;

  .time {
    &_wrap {
      display: inline-block;
    }

    &_txt {
      position: relative;
      display: inline-block;
      width: 53px;
      @include custom-font(38px, 700, 46px);
      vertical-align: middle;
    }
  }

  .title_txt {
    display: block;
    margin-top: 5px;
    @include custom-font(12px, 400, 13px);
    text-align: center;
  }

  .divider {
    display: inline-block;
    width: 18px;
    margin: 0px 10px;
    @include custom-font(28px, 700, 39px);
    vertical-align: top;
    text-align: center;
  }
}

// <!-- Count down -->

//Responsive

.only_tb {
  display: none;
}


// @include on_pc;
@include desktop;

@include tablet {
  @include on_tb;
}

@include mobile {
  @include on_mo;
}