body {
  background-color: map-get($gray, 1);
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  // background-color: map-get($gray, 1);
  color: var(--white);
}

// <!-- Navigation -->
.header {
  @include flex-item(flex, space-between, center);
  padding: 20px 50px;
}

.logo {
  &_link {
    display: inline-block;
    width: 100%;
    height: 32px;
  }

  &_img {
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &_list {
    @include flex-item(flex, null, center);

    &+button {
      margin-left: 10px;
    }
  }

  &_item+&_item {
    margin-left: 10px;
  }

  &_link {
    display: inline-block;
    padding: 12px 20px;
    @include custom-font(16px, 600, 22px);
    color: var(--white);
  }
}

// <!-- // Navigation -->

// <!--CONTENTS -->
.main {
  // padding: 0 115px;
}

.section {
  padding: 80px 115px;

  &:last-child {
    padding-top: 40px;
  }
}

// < !-- Section Hero -->

.section {
  &_hero {
    display: block;
    font-size: 0;
    // display: flex;
    // justify-content: space-between;
  }
}

.hero {
  &_content {
    display: inline-block;
    width: calc(50% - 15px);
  }

  &_title {
    @include custom-font(67px, 600, 74px);
    text-transform: capitalize;
  }

  &_desc {
    @include custom-font(22px, 400, 35px);
    margin-top: 20px;
  }

  &_desc+button,
  &_overview {
    margin-top: 30px;
  }

  &_card {
    display: inline-block;
    width: calc(50% - 15px);
    overflow: hidden;
    margin-left: 30px;
    border-radius: $border_radius_sm;
    background-color: map-get($gray, 2);
    vertical-align: top;
  }
}

.overview {
  &_list {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    display: block;
    width: calc((100% / 3) - 15px);
  }

  &_item+&_item {
    margin-left: 30px;
  }

  &_param {
    display: block;
    font-family: SpaceMono;
    @include custom-font(28px, 700, 39px);
  }

  &_title {
    display: inline-block;
    @include custom-font(24px, 400, 38px);
  }
}

.card {
  &_thumb {
    padding-top: 72.33%;
  }

  &_info {
    padding: 22px 20px;
  }

  &_title {
    display: inline-block;
    @include custom-font(22px, 600, 31px);
  }

  &_avt {
    @include flex-item(flex, null, center);
    margin-top: 10px;
  }

  &_name {
    display: inline-block;
    margin-left: 12px;
    @include custom-font(16px, 400, 22px);
  }
}

// < !-- // Section Hero -->

// < !-- Section Trending -->
.section {
  &_trending {}

  &_heading {
    display: flex;
    justify-content: space-between;
  }

  &_heading_btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: end
  }

  &_title {
    @include custom-font(38px, 600, 46px);
  }

  &_subhead {
    margin-top: 10px;
    @include custom-font(22px, 400, 35px);

  }

  &_content {
    margin-top: 60px;

    .trending {
      &_card {
        &_list {
          display: block;
          font-size: 0;
        }

        &_item {
          display: inline-block;
          width: calc((100% / 3) - 20px);

          &+.trending_card_item {
            margin-left: 30px;
          }

          & .thumb {
            @include border_sm;

          }
        }

        &_info {
          margin-top: 15px;
        }
      }
    }
  }
}

.image {
  &_list {
    display: flex;
    margin-top: 15px;
  }

  &_item {
    display: inline-block;
    @include border_sm;
    width: calc((100% / 3) - 7.5px);

    &+.image_item {
      margin-left: 15px;
    }
  }

  &_more {
    @include flex-item(flex, center, center);
    flex-direction: column;
    background-color: var(--bg_btn_violet);
  }

  &_number {
    font-family: SpaceMono;
    @include custom-font(22px, 700, 35px);
    text-align: center;
    color: var(--white);
  }
}

// < !-- // Section Trending -->

// <!-- Section Top Rated -->
.toprated_card {
  &_list {
    font-size: 0;
  }

  &_item {
    display: inline-block;
    position: relative;
    @include border_sm;
    margin-top: 30px;
    padding: 20px;
    width: calc((100% / 4) - 23px);
    background-color: map-get($gray, 2);
    box-sizing: border-box;
    text-align: center;

    &+.toprated_card_item {
      margin-left: 30px;
    }
    &:nth-child(-n + 4){
      margin-top: 0;
    }
    &:nth-child(4n + 1){
      margin-left: 0;
    }
  }
  &_number{
    position: absolute;
    top: 22px;
    left: 30px;
  }

  &_info {
    margin-top: 20px;
  }

}

.card_infomore {
  display: block;
  margin-top: 5px;
  @include custom-font(16px, 400, 22px);
  color: map-get($gray, 3);

  &_desc {
    font-family: SpaceMono;
    @include custom-font(16px, 400, 22px);
    color: var(--white);
  }
}

// <!--// Section Top Rated -->

// <!-- // CONTENTS -->

// <!-- Footer -->
.footer {
  padding: 40px 115px;
}

// <!-- // Footer -->