body {
  overflow-x: hidden;
  background-color: map-get($gray, 1);
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  // background-color: map-get($gray, 1);
  color: var(--white);
}

// <!-- Navigation -->
.header {
  @include flex-item(flex, space-between, center);
  padding: 20px 50px;
}

.logo {
  &_link {
    display: inline-block;
    width: 100%;
    height: 32px;
  }

  &_img {
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &_list {
    @include flex-item(flex, null, center);

    &+button {
      margin-left: 10px;
    }
  }

  &_item+&_item {
    margin-left: 10px;
  }

  &_link {
    display: inline-block;
    padding: 12px 20px;
    @include custom-font(16px, 600, 22px);
    color: var(--white);
  }
}

// <!-- // Navigation -->

// <!--CONTENTS -->
.main {}

.section {
  padding: 80px 115px;

  &:last-child {
    padding-top: 40px;
  }
}

// < !-- Section Hero -->

.section {
  &_hero {
    display: block;
    font-size: 0;
  }
}

.hero {
  &_content {
    display: inline-block;
    width: calc(50% - 15px);
  }

  &_title {
    @include custom-font(67px, 600, 74px);
    text-transform: capitalize;
  }

  &_desc {
    @include custom-font(22px, 400, 35px);
    margin-top: 20px;
  }

  &_desc+button,
  &_overview {
    margin-top: 30px;
  }

  &_card {
    display: inline-block;
    width: calc(50% - 15px);
    overflow: hidden;
    margin-left: 30px;
    border-radius: $border_radius_sm;
    background-color: map-get($gray, 2);
    vertical-align: top;
  }
}

.overview {
  &_list {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    display: block;
    width: calc((100% / 3) - 15px);
  }

  &_item+&_item {
    margin-left: 30px;
  }

  &_param {
    display: block;
    font-family: SpaceMono;
    @include custom-font(28px, 700, 39px);
  }

  &_title {
    display: inline-block;
    @include custom-font(24px, 400, 38px);
  }
}

.card {
  &_thumb {
    padding-top: 72.33%;
  }

  &_info {
    padding: 22px 20px;
  }

  &_title {
    display: inline-block;
    @include custom-font(22px, 600, 31px);
  }

  &_avt {
    @include flex-item(flex, null, center);
    margin-top: 10px;
  }

  &_name {
    display: inline-block;
    margin-left: 12px;
    @include custom-font(16px, 400, 22px);
  }
}

// < !-- // Section Hero -->

// < !-- Section Trending -->
.section {
  &_trending {}

  &_heading {
    display: flex;
    justify-content: space-between;
  }

  &_heading_btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: end
  }

  &_title {
    @include custom-font(38px, 600, 46px);
  }

  &_subhead {
    margin-top: 10px;
    @include custom-font(22px, 400, 35px);
  }

  &_content {
    margin-top: 60px;
  }

}

.trending_card {
  &_item {
    @include card_three_item;

    & .thumb {
      border-radius: $border_radius_sm;
    }
  }

  &_info {
    margin-top: 15px;
  }
}

.image {
  &_list {
    display: flex;
    margin-top: 15px;
  }

  &_item {
    display: inline-block;
    @include border_sm;
    width: calc((100% / 3) - 7.5px);

    &+.image_item {
      margin-left: 15px;
    }
  }

  &_more {
    @include flex-item(flex, center, center);
    flex-direction: column;
    background-color: var(--bg_btn_violet);
  }

  &_number {
    font-family: SpaceMono;
    @include custom-font(22px, 700, 35px);
    text-align: center;
    color: var(--white);
  }
}

// < !-- // Section Trending -->

// <!-- Section Top Rated -->
.toprated_card {
  &_item {
    position: relative;
    @include card_four_item;
    padding: 20px;
    background-color: map-get($gray, 2);
    box-sizing: border-box;
    text-align: center;
  }

  &_number {
    position: absolute;
    top: 22px;
    left: 30px;
  }

  &_info {
    margin-top: 20px;
  }

}

.card_infomore {
  display: block;
  margin-top: 5px;
  @include custom-font(16px, 400, 22px);
  color: map-get($gray, 3);

  &_desc {
    font-family: SpaceMono;
    @include custom-font(16px, 400, 22px);
    color: var(--white);
  }
}

// <!--// Section Top Rated -->

// < !-- Section Browse Categories -->
.category_card {
  &_item {
    @include card_four_item;
    background-color: map-get($gray, 2);
  }

  &_image {
    position: relative;
  }

  &_thumb {
    &::after {
      @include absolute-align(0, 0, null, null);
      @include custom-dimensions(100%, 100%);
      backdrop-filter: blur(15px) brightness(100%);
      content: '';
    }
  }

  &_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_name {
    display: block;
    padding: 20px 30px 25px 30px;
    @include custom-font(22px, 600, 31px);
  }
}

// < !-- // Section Browse Categories -->

// <!-- Section Discover more NFTs -->
.discovery_card {
  &_item {
    @include card_three_item;
    background-color: map-get($gray, 2);

  }

  &_info {
    padding: 20px 30px 25px 30px;

    .card_name {
      font-family: SpaceMono;
    }
  }

  &_desc {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-family: SpaceMono;
  }
}

.card_desc {
  &_title {
    display: block;
    @include custom-font(12px, 400, 13px);
    color: map-get($gray, 3);
  }

  &_price {
    display: block;
    margin-top: 8px;
    @include custom-font(16px, 400, 22px);
  }
}

.card {
  &_price {
    text-align: left;
  }

  &_maxprice {
    text-align: right;
  }
}

// <!--// Section Discover more NFTs -->

// <!-- Section Highlight -->
.section {
  &_highlight {
    position: relative;
    @include bg_full(url(../img/image/bg_highlight_pc.png) no-repeat center/cover, 0);

    &::after {
      position: absolute;
      @include bg_full(var(--gradient_white_violet), -1);
    }

    .card_avt {
      margin-top: 0;
    }
  }
}

.highlight {
  &_wrap {
    margin: 0 auto;
    max-width: 1366px;
  }

  &_content {
    position: absolute;
    bottom: 0;
    max-width: 1366px;
    width: 100%;
    padding: 60px 115px;
    font-size: 0;
    box-sizing: border-box;

    & button {
      margin-top: 30px;
    }
  }

  &_name {
    display: inline-block;
    width: calc(100% - 295px);
  }

  &_title {
    margin-top: 30px;
    @include custom-font(51px, 600, 56px);
  }

  &_timer {
    display: inline-block;
    width: 295px;
    padding: 30px;
    font-family: SpaceMono;
    border-radius: $border_radius_sm;
    background-color: map-get($gray, 5);
    box-sizing: border-box;
    vertical-align: bottom;

    .timer_desc {
      @include custom-font(12px, 400, 13px);
    }
  }
}

.card_wrap {
  display: inline-block;
  padding: 11px 20px;
  font-family: SpaceMono;
  border-radius: $border_radius_sm;
  background-color: map-get($gray, 2);
}

// <!--// Section Highlight -->

// <!-- // CONTENTS -->

// <!-- Footer -->
.footer {
  padding: 40px 115px;
}

// <!-- // Footer -->

// <!-- Count down -->

.count {
  display: block;
  margin-top: 10px;
  font-size: 0;
  text-align: center;

  .time {
    &_wrap {
      display: inline-block;
    }

    &_txt {
      position: relative;
      display: inline-block;
      width: 53px;
      @include custom-font(38px, 700, 46px);
      vertical-align: middle
    }
  }

  .title_txt {
    display: block;
    margin-top: 5px;
    @include custom-font(12px, 400, 13px);
    text-align: left;
  }

  .divider {
    display: inline-block;
    width: 18px;
    margin: 0px 10px;
    @include custom-font(28px, 700, 39px);
    vertical-align: top;
    text-align: center;
  }
}

// <!-- Count down -->