.section {
  &_headingpage {
    .section_inner {
      @include respond-between($screen-sm,$screen-md) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    .input_box {
      margin-top: 28px;
    }

    .page_title {
      @include respond-below($screen-sm) {
        @include custom-font(28px, 600, 39px);
      }
    }
  }

  &_marketplace {
    background-color: map-get($gray, 2);

    .section_inner {
      padding-top: 58px;

      @include respond-between($screen-sm,$screen-md) {
        padding-bottom: 80px;
      }

      @include respond-below($screen-sm) {
        padding-top: 40px;
      }
    }
  }
}