.section {
  &_thumb {
    &_nft {
      height: 560px;
      background: url(../img/image/bg_nft_page_pc.png) no-repeat center/cover;

      @include respond-between($screen-sm, $screen-md) {
        height: 420px;
        background: url(../img/image/bg_nft_page_tb.png) no-repeat center/cover;
      }

      @include respond-below($screen-sm) {
        height: 320px;
        background: url(../img/image/bg_nft_page_mo.png) no-repeat center/cover;
      }
    }
  }

  &_nftinfo {
    .section_inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .section_box {
      position: relative;
    }
  }

}

.nftinfo {
  &_heading {
    width: 605px;

    @include respond-between($screen-sm, $screen-md) {
      width: 365px;
    }

    @include respond-below($screen-sm) {
      width: 100%;

      .page_title {
        @include custom-font(28px, 600, 39px);
      }
    }

    .page_desc {
      color: map-get($gray, 3);
    }
  }

  &_countdown {
    position: absolute;
    top: 0;
    right: 0;

    .highlight_timer {
      padding: 20px 30px 26px;

      @include respond-below($screen-sm) {
        padding: 30px;
      }
    }

    .btn {
      width: 100%;
      margin-top: 27px;
    }

    @include respond-below($screen-sm) {
      position: static;
      margin-top: 20px;
    }
  }

  &_list {
    width: 605px;
    margin-top: 30px;

    @include respond-between($screen-sm, $screen-md) {
      width: 365px;
    }

    @include respond-below($screen-sm) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &_item+&_item {
    margin-top: 30px;

    @include respond-below($screen-sm) {
      margin-top: 20px;
    }
  }

  &_title {
    display: inline-block;
    margin-bottom: 10px;
    font-family: SpaceMono;
    @include custom-font(16px, 600, 22px);
    color: map-get($gray, 3);

    @include respond-above($screen-md) {
      @include custom-font(22px, 400, 35px);

    }
  }

  &_creator {
    .card_avt {
      margin-top: 0;
    }

    .card_name {
      @include respond-above($screen-md) {
        @include custom-font(22px, 600, 31px);
      }
    }

    .card_avatar {
      margin-top: 0;
    }
  }

  &_desc {
    &_content {
      p {
        @include custom-font(16px, 400, 22px);

        @include respond-above($screen-md) {
          @include custom-font(22px, 400, 35px);
        }
      }

      p+p {
        margin-top: 22px;

        @include respond-above($screen-md) {
          margin-top: 35px;
        }
      }
    }
  }

  &_details {
    &_item+&_item {
      margin-top: 10px;
    }

    &_link {
      display: inline-block;
      color: var(--white);
    }

    &_wrap {
      display: inline-block;
      font-size: 0;
      vertical-align: middle;
    }

    &_name {
      display: inline-block;
      margin-left: 10px;
      @include custom-font(16px, 400, 22px);
      vertical-align: middle;

      @include respond-above($screen-md) {
        @include custom-font(22px, 400, 35px);
      }
    }
  }

  &_tags {
    &_list {
      margin-top: -10px;
      margin-left: -20px;
      font-size: 0;

      @include respond-above($screen-md) {
        margin-top: -15px;
      }
    }

    &_item {
      display: block;
      margin-top: 20px;
      margin-left: 20px;

      @include respond-above($screen-md) {
        display: inline-block;
      }
    }

    &_link {
      display: inline-block;
      overflow: hidden;
      padding: 12px 30px;
      border-radius: 20px;
      @include custom-font(16px, 600, 22px);
      color: var(--white);
      background-color: map-get($gray, 2);
      text-transform: uppercase;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: map-get($gray, 3);
      }
    }
  }
}

.section_artist_nft {
  @include respond-above($screen-md) {
    .section_heading_box+.btn {
      top: 0;
    }

    .section_content {
      margin-top: 74px;
    }
  }

  @include respond-between($screen-sm, $screen-md) {
    .section_inner {
      padding-bottom: 40px;
    }

    .section_heading_box+.btn {
      top: 0;
    }

    .section_content {
      margin-top: 80px;
    }

    .artist_card_item:not(:nth-child(-n+2)) {
      margin-top: 60px;
    }
  }

  @include respond-below($screen-sm) {
    .section_content {
      margin-top: 30px;
    }

    &:has(.thumb) .thumb {
      padding-top: 93.69%;
    }

    &:has(.artist_card_info) .artist_card_info {
      padding: 20px 30px 25px 30px;
    }

    &:has(.price) .price {
      @include custom-font(16px, 400, 22px)
    }

    .artist_card_item:not(:first-child) {
      margin-top: 30px;
    }

    &:has(.section_heading_box) .btn {
      bottom: 38px;
    }

    &:has(.section_inner) .section_inner {
      padding-bottom: 130px;
    }
  }

  .artist_card_item:not(:nth-child(-n+3)) {
    margin-top: 60px;
  }
}