.section{
  &_thumb{
    &_nft{
      height: 560px;
      background: url(../img/image/bg_nft_page_pc.png) no-repeat center/cover;

      @include tablet {
        height: 420px;
        background: url(../img/image/bg_nft_page_tb.png) no-repeat center/cover;

      }

      @include mobile {
        height: 320px;
        background: url(../img/image/bg_nft_page_mo.png) no-repeat center/cover;

      }
    }
  }
  &_nftinfo{
    .section_inner{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}