.section {
  &_thumb {
    &_nft {
      height: 560px;
      background: url(../img/image/bg_nft_page_pc.png) no-repeat center/cover;

      @include tablet {
        height: 420px;
        background: url(../img/image/bg_nft_page_tb.png) no-repeat center/cover;

      }

      @include mobile {
        height: 320px;
        background: url(../img/image/bg_nft_page_mo.png) no-repeat center/cover;

      }
    }
  }

  &_nftinfo {
    .section_inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .section_box {
      position: relative;
    }
  }

}

.nftinfo {
  &_heading {
    width: 605px;

    @include tablet {
      width: 365px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &_countdown {
    position: absolute;
    top: 0;
    right: 0;

    .highlight_timer {
      padding: 30px;
    }

    .btn {
      width: 100%;
      margin-top: 30px;
    }

    @include mobile {
      position: static;
      margin-top: 20px;
    }
  }

  &_list {
    width: 605px;
    margin-top: 30px;

    @include tablet {
      width: 365px;
    }

    @include mobile {
      width: 100%;
      margin-top: 20px;
    }
  }

  &_item {
    // margin-top: 20px;
  }

  &_item+&_item {
    margin-top: 30px;

    @include mobile {
      margin-top: 20px;
    }
  }

  &_name {
    // display: inline-block;
    @include custom-font(51px, 600, 56px);

    @include tablet {
      @include custom-font(38px, 600, 46px);
    }

    @include mobile {
      @include custom-font(28px, 600, 39px);
    }
  }

  &_time {
    display: inline-block;
    margin-top: 10px;
    @include custom-font(16px, 600, 22px);
    color: map-get($gray, 3);
    text-transform: capitalize;

    @include desktop {
      @include custom-font(22px, 400, 35px);

    }
  }

  &_title {
    display: inline-block;
    margin-bottom: 10px;
    font-family: SpaceMono;
    @include custom-font(16px, 600, 22px);
    color: map-get($gray, 3);

    @include desktop {
      @include custom-font(22px, 400, 35px);

    }
  }

  &_creator {
    .card_avt {
      margin-top: 0;
    }

    .card_name {
      @include desktop {
        @include custom-font(22px, 600, 31px);
      }
    }
  }

  &_desc {
    &_content {
      p {
        @include custom-font(16px, 400, 22px);

        @include desktop {
          @include custom-font(22px, 400, 35px);
        }
      }

      p+p {
        margin-top: 20px;

        @include desktop {
          margin-top: 35px;
        }
      }
    }
  }

  &_details {
    &_item+&_item {
      margin-top: 10px;
    }

    &_link {
      display: inline-block;
      color: var(--white);
    }

    &_wrap {
      display: inline-block;
      font-size: 0;
      vertical-align: middle;
    }

    &_name {
      display: inline-block;
      margin-left: 10px;
      @include custom-font(16px, 400, 22px);
      vertical-align: middle;

      @include desktop {
        @include custom-font(22px, 400, 35px);
      }
    }
  }

  &_tags {
    &_list {
      margin-top: -15px;
      margin-left: -20px;
      font-size: 0;
    }

    &_item {
      display: block;
      margin-top: 20px;
      margin-left: 20px;

      @include desktop {
        display: inline-block;
      }
    }

    &_link {
      display: inline-block;
      overflow: hidden;
      padding: 12px 30px;
      border-radius: 20px;
      @include custom-font(16px, 600, 22px);
      color: var(--white);
      background-color: map-get($gray, 2);
      text-transform: uppercase;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: map-get($gray, 3);
      }
    }
  }
}