.section {
  &_rankings {
    .page_title {
      @include mobile {

        @include custom-font(28px, 600, 39px);
      }
    }
  }
}

.rankings {
  &_heading {
    .page_desc {
      margin-top: 20px;
    }

    @include mobile {
      padding: 30px 30px;

      .page_desc {
        margin-top: 10px;
      }
    }
  }

  &_tabs {
    .tabs {
      @include desktop {
        padding: 0px 115px;

      }

      @include tablet {
        padding: 0px 75px;

      }

      @include mobile {
        padding: 0px 30px;
      }
    }
  }

  &_table {
    padding-top: 38px;
    padding-bottom: 18px;

    &_wrap {
      margin-top: -20px;
    }
  }


}