#content {
    padding: 20px;
}

i {
    display: inline-block;
    margin-right: 12px;
}

.block-element {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 100px;

    strong {
        display: block;
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 15px;
    }
}


.ico_arrowleft_32px {
    @include sp-normal('ico_arrowleft_32px')
}

.ico_arrowright_32px {
    @include sp-normal('ico_arrowright_32px')
}

.ico_copy_20px {
    @include sp-normal('ico_copy_20px')
}

.ico_copy_32px {
    @include sp-normal('ico_copy_32px')
}

.ico_discord_32px {
    @include sp-normal('ico_discord_32px')
}

.ico_email_20px {
    @include sp-normal('ico_email_20px')
}

.ico_email_32px {
    @include sp-normal('ico_email_32px')
}

.ico_eye_20px {
    @include sp-normal('ico_eye_20px')
}

.ico_eye_32px {
    @include sp-normal('ico_eye_32px')
}

.ico_eyeslash_32px {
    @include sp-normal('ico_eyeslash_32px')
}

.ico_globe_32px {
    @include sp-normal('ico_globe_32px')
}

.ico_instagram_32px {
    @include sp-normal('ico_instagram_32px')
}

.ico_list_24px {
    @include sp-normal('ico_list_24px')
}

.ico_list_32px {
    @include sp-normal('ico_list_32px')
}

.ico_lockkey_32px {
    @include sp-normal('ico_lockkey_32px')
}

.ico_plus_20px {
    @include sp-normal('ico_plus_20px')
}

.ico_plus_32px {
    @include sp-normal('ico_plus_32px')
}

.ico_rocket_32px {
    @include sp-normal('ico_rocket_32px')
}

.ico_rocketlaunch_20px {
    @include sp-normal('ico_rocketlaunch_20px')
}

.ico_rocketlaunch_color_20px {
    @include sp-normal('ico_rocketlaunch_color_20px')
}

.ico_rocketlaunch_32px {
    @include sp-normal('ico_rocketlaunch_32px')
}

.ico_search_24px {
    @include sp-normal('ico_search_24px')
}

.ico_search_32px {
    @include sp-normal('ico_search_32px')
}

.ico_storefront_32px {
    @include sp-normal('ico_storefront_32px')
}

.ico_trendup_32px {
    @include sp-normal('ico_trendup_32px')
}

.ico_twitter_32px {
    @include sp-normal('ico_twitter_32px')
}

.ico_user_20px {
    @include sp-normal('ico_user_20px')
}

.ico_user_32px {
    @include sp-normal('ico_user_32px')
}

.ico_usercircle_32px {
    @include sp-normal('ico_usercircle_32px')
}

.ico_wallet_32px {
    @include sp-normal('ico_wallet_32px')
}

.ico_youtube_32px {
    @include sp-normal('ico_youtube_32px')
}

.ico_coinbase {
    @include sp-normal('ico_coinbase')
}

.ico_metamask {
    @include sp-normal('ico_metamask')
}

.ico_walletconnect {
    @include sp-normal('ico_walletconnect')
}



.vw-sample-text {
    background-color: lightcoral;
    color: #fff;
    @include vw-font-size-pc(50);
    @include line-height-pc(1);
    padding: 10px;
}

@include breakpoint(tablet) {
    .vw-sample-text {
        background-color: lightgreen;
        @include vw-font-size-tb(50);
    }
}

@include breakpoint(mobile) {
    .vw-sample-text {
        background-color: lightsalmon;
        @include vw-font-size-mo(25);
    }
}