@@if (type == 01) {
<footer class="footer">
  } @@if (type == 02) {
  <footer class="footer footer_border">
    }
    <div class="section_inner">
      <div class="footer_box">
        <div class="footer_info">
          <h2 class="logo">
            <a href="#none" class="logo_link">
              <img
                class="logo_img"
                src="../img/image/img_logo_pc.png"
                alt="NFT Marketplace"
              />
            </a>
          </h2>
          <span class="footer_info_desc"
            >NFT marketplace UI created <br class="only_pc" />
            with Anima for Figma.</span
          >
          <div class="footer_info_sns">
            <span class="footer_info_txt">Join our community</span>
            <ul class="sns_list">
              <li class="sns_item">
                <a href="#none" class="sns_link">
                  <i class="ico_discord_32px"></i>
                  <span class="blind">discord</span>
                </a>
              </li>

              <li class="sns_item">
                <a href="#none" class="sns_link">
                  <i class="ico_youtube_32px"></i>
                  <span class="blind">youtube</span>
                </a>
              </li>

              <li class="sns_item">
                <a href="#none" class="sns_link">
                  <i class="ico_twitter_32px"></i>
                  <span class="blind">twitter</span>
                </a>
              </li>

              <li class="sns_item">
                <a href="#none" class="sns_link">
                  <i class="ico_instagram_32px"></i>
                  <span class="blind">instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer_explore">
          <strong class="footer_title">Explore</strong>
          <ul class="explore_list">
            <li class="explore_item">
              <a href="#none" class="explore_link">Marketplace</a>
            </li>
            <li class="explore_item">
              <a href="#none" class="explore_link">Rankings</a>
            </li>
            <li class="explore_item">
              <a href="#none" class="explore_link">Connect a wallet</a>
            </li>
          </ul>
        </div>
        <div class="footer_subscribe">
          <strong class="footer_title">Join our weekly digest</strong>
          <span class="footer_info_txt"
            >Get exclusive promotions & updates <br class="only_pc" />
            straight to your inbox.</span
          >
          <div class="form_box form_email">
            <input
              type="email"
              placeholder="Enter your email here"
              class="input_text"
            />
            <button type="button" class="btn btn_violet">Subscribe</button>
          </div>
        </div>
      </div>
      <div class="footer_copyright">
        <span class="footer_copyright_txt"
          >&#9400; NFT Market. Use this template freely.</span
        >
      </div>
    </div>
  </footer>
</footer>
