        @@if (type == 01) {<header class="header">
            <!-- Navigation -->
            <h1 class="logo">
                <a href="#" class="logo_link">
                    <img class="logo_img" src="../../img/image/img_logo_pc.png" alt="NFT Marketplace">
                </a>
            </h1>
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#" class="nav_link">Marketplace</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">Rankings</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">Connect a wallet</a>
                    </li>
                </ul>
                <button class="btn btn_md btn_p30 btn_violet">
                    <i class="ico_user_20px"></i>
                    Sign Up
                </button>
            </nav>
            <!-- // Navigation -->
        </header>} @@if (type == 02) {<header>
            <!-- Navigation -->
            <nav></nav>
            <!-- // Navigation -->
        </header>}