@@if (type == 01) {
<header class="header">
  <!-- Navigation -->
  <div class="header_box">
    <h1 class="logo">
      <a href="01_main.html" class="logo_link">
        <img
          class="logo_img"
          src="../img/image/img_logo_pc.png"
          alt="NFT Marketplace"
        />
      </a>
    </h1>
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="02_05_marketplace.html" class="nav_link">Marketplace</a>
        </li>
        <li class="nav_item">
          <a href="02_05_rankings.html" class="nav_link">Rankings</a>
        </li>
        <li class="nav_item">
          <a href="02_02_connect.html" class="nav_link">Connect a wallet</a>
        </li>
      </ul>
      <a href="02_01_create_account.html" class="btn btn_md btn_violet">
        <i class="ico_user_20px"></i>
        Sign Up
      </a>
    </nav>
    <button type="button" class="nav_toggler">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <!-- // Navigation -->
</header>
}
